.a-editor-block:after{
	display: block;
	content: ' ';
	clear: both;
}
.aeb-no-after:after{
	display: none !important;
}
.aeb-overflow-auto{
	overflow: auto;
}




/*---------table responsive---------*/
.a-editor-block .tbl-wrap{
	max-width: 100%;
	overflow: auto;
}
@media (max-width: 991px){/* tablet */
	.a-editor-block .tbl-wrap table{
		min-width: 991px;
	}
}
@media (max-width: 767px){/* mobile-landscape */
	.a-editor-block .tbl-wrap table{
		min-width: 767px;
	}
}
@media (max-width: 479px){/* mobile */
	.a-editor-block .tbl-wrap table{
		min-width: 479px;
	}
}


/*---------table all col---------*/
.a-editor-block table td,
.a-editor-block table th{
	text-align: center;
}
.a-editor-block table thead tr th{
	padding: 15px 20px;

	color: #fff;

	background-color: #222222;
}


/*---------table tbody head col---------*/
.a-editor-block table tbody tr:nth-child(2n) th{
	background-color: #e8e8e8;
}
.a-editor-block table tbody tr:nth-child(2n+1) th{
	background-color: #eee;
}


/*---------table normal thead/tbody col---------*/
.a-editor-block table thead tr td,
.a-editor-block table tbody tr td{
	padding: 10px 20px;
}
.a-editor-block table thead tr:nth-child(2n) td,
.a-editor-block table tbody tr:nth-child(2n) td{
	background-color: #f2f2f2;
}
.a-editor-block table thead tr:nth-child(2n+1) td,
.a-editor-block table tbody tr:nth-child(2n+1) td{
	background-color: #fff;
}
.a-editor-block table thead tr td:first-child,
.a-editor-block table tbody tr td:first-child{
	border-right: 1px solid #eee;
}
.a-editor-block table thead tr td:last-child,
.a-editor-block table tbody tr td:last-child{
	border-left: 1px solid #eee;
}
.a-editor-block table thead tr:last-child td,
.a-editor-block table tbody tr:last-child td{
	border-bottom: 1px solid #eee;
}


/*---------tags---------*/
.a-editor-block pre{
	font-family: monospace;
}
.a-editor-block address{
	font-style: italic;
}
.a-editor-block hr{
	margin: 10px 0;

	border: 1px dashed #eee;
}
.a-editor-block b,
.a-editor-block strong{
	font-weight: bold;
}
.a-editor-block i,
.a-editor-block em{
	font-style: italic;
}
.a-editor-block u{
	text-decoration: underline;
}
.a-editor-block s{
	text-decoration: line-through;
}
.a-editor-block sub{
	vertical-align: sub;
	font-size: smaller;
}
.a-editor-block sup{
	vertical-align: super;
	font-size: smaller;
}
.a-editor-block ol{
	counter-reset: aeol;
}
.a-editor-block ol li{
	counter-increment: aeol;
}
.a-editor-block ol li:before{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	content: counter(aeol);
	vertical-align: middle;

	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #333;

	background-color: #eee;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.a-editor-block ul{
}
.a-editor-block ul li:before{
	width: 5px;
	height: 5px;
	margin-right: 14px;
	margin-left: 5px;
	display: inline-block;
	content: ' ';
	vertical-align: middle;

	background-color: #D8D8D8;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.a-editor-block blockquote{
	margin-right: 10px;
	padding-right: 10px;

	font-style: italic;

	border-right: 3px solid #ccc;
}
.a-editor-block h1{
	font-size: 34px;
}
.a-editor-block h2{
	font-size: 30px;
}
.a-editor-block h3{
	font-size: 26px;
}
.a-editor-block h4{
	font-size: 22px;
}
.a-editor-block h5{
	font-size: 20px;
}
.a-editor-block h6{
	font-size: 16px;
}


/*---------img---------*/
.a-editor-block img:not(.cke_audio):not(.cke_video){
	max-width: 100%;
	height: auto !important;

	/*border: 3px solid #DBDBDB;*/
}
.a-editor-block a img{
	/*border: 3px solid #DED3FF !important;

	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;*/
}
.a-editor-block a.img-link{
	border-bottom: none !important;
}
.a-editor-block a:hover img{
	/*border: 3px solid #B299FF !important;*/
}


/*---------anchor link---------*/
.a-editor-block a[href^="#"]{
	color: #6090E7;

	border-bottom: 1px dashed #6090E7;
}
.a-editor-block a[href^="#"]:hover{
	color: #507FD3;

	border-bottom: 1px dashed #507FD3;
}


/*---------without link---------*/
.a-editor-block a{
	color: #5C96FF;

	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
}


/*---------with link---------*/
.a-editor-block a:link{
	color: #5C96FF;

	border-bottom: 1px dashed transparent;
}
.a-editor-block a:link:hover{
	color: #507FD3;

	border-bottom: 1px dashed #507FD3;
}


/*---------custom styled : tag---------*/
.a-editor-block .ae-tag-style{
	display: inline-block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 15px;
	margin-left: 5px;
	margin-bottom: 5px;

	color: #fff !important;
	line-height: 26px;

	background-color: #0089e0;

	border-radius: none;
	-webkit-border-radius: none;

	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;

	border: none !important;
}
.a-editor-block .ae-tag-style:empty{
	display: none;
}
.a-editor-block a.ae-tag-style:hover{
	background-color: #1B9BED;
}
.a-editor-block .ae-tag-style:after{
	position: absolute;
	left: 100%;
	top: 0;
	content: ' ';

	border-left: 13px solid #0089e0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	
	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
}
.a-editor-block a.ae-tag-style:hover:after{
	border-left: 13px solid #1B9BED;
}
.a-editor-block .ae-tag-style:before{
	width: 5px;
	height: 5px;
	position: absolute;
	right: -5px;
	top: 11px;
	z-index: 2;
	content: ' ';

	background-color: #fff;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}


/*---------custom styled : tag---------*/
.a-editor-block .ae-btn-style{
	display: inline-block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;

	color: #fff !important;
	line-height: 26px;

	background-color: #EF886B;

	border-radius: 5px;
	-webkit-border-radius: 5px;

	border: none !important;
}
.a-editor-block .ae-btn-style:empty{
	display: none;
}
.a-editor-block a.ae-btn-style{
	padding-left: 0;
}
.a-editor-block a.ae-btn-style:after{
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 3px;
	content: "\f100";

	font-family: FontAwesome;

	border-right: 1px solid rgba(255,255,255,0.2);
}
.a-editor-block a.ae-btn-style:hover{
	background-color: #DB7356;
}


/*---------custom styled : special box---------*/
.a-editor-block .ae-sbox-style{
	padding: 10px 15px;

	background-color: #F0F0F0;
	border: 1px solid #E4E4E4;
}
.a-editor-block .ae-sbox-style:empty{
	display: none;
}


/*---------custom styled : download link---------*/
.a-editor-block .ae-dl-link-style{
	display: inline-block;
	padding-left: 15px;
	margin-left: 5px;
	margin-bottom: 5px;

	color: #fff !important;
	line-height: 35px;

	background-color: #61656D;
	border: none !important;

	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.a-editor-block .ae-dl-link-style:empty{
	display: none;
}
.a-editor-block .ae-dl-link-style:hover{
	background-color: #4D5159;
}
.a-editor-block .ae-dl-link-style:before{
	width: 35px;
	margin-left: 10px;
	content: "\f019";
	display: inline-block;
	vertical-align: middle;

	line-height: 35px;
	text-align: center;
	font-family: FontAwesome;

	background-color: #4D5159;

	border-radius: none;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;

	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
}
.a-editor-block .ae-dl-link-style:hover:before{
	background-color: #2F3237;
}
.a-editor-block .ae-dl-link-style[href$=".zip"]:before,
.a-editor-block .ae-dl-link-style[href$=".gzip"]:before,
.a-editor-block .ae-dl-link-style[href$=".7z"]:before,
.a-editor-block .ae-dl-link-style[href$=".rar"]:before{
	content: "\f1c6";
}
.a-editor-block .ae-dl-link-style[href$=".pdf"]:before{
	content: "\f1c1";
}
.a-editor-block .ae-dl-link-style[href$=".xls"]:before,
.a-editor-block .ae-dl-link-style[href$=".xlsx"]:before,
.a-editor-block .ae-dl-link-style[href$=".xlsm"]:before,
.a-editor-block .ae-dl-link-style[href$=".xlsb"]:before{
	content: "\f1c3";
}
.a-editor-block .ae-dl-link-style[href$=".doc"]:before,
.a-editor-block .ae-dl-link-style[href$=".docx"]:before{
	content: "\f1c2";
}
.a-editor-block .ae-dl-link-style[href$=".ppt"]:before,
.a-editor-block .ae-dl-link-style[href$=".pptx"]:before,
.a-editor-block .ae-dl-link-style[href$=".pps"]:before,
.a-editor-block .ae-dl-link-style[href$=".ppsx"]:before{
	content: "\f1c4";
}
.a-editor-block .ae-dl-link-style[href$=".mp3"]:before,
.a-editor-block .ae-dl-link-style[href$=".wma"]:before,
.a-editor-block .ae-dl-link-style[href$=".ogg"]:before,
.a-editor-block .ae-dl-link-style[href$=".aac"]:before,
.a-editor-block .ae-dl-link-style[href$=".wav"]:before{
	content: "\f1c7";
}
.a-editor-block .ae-dl-link-style[href$=".webm"]:before,
.a-editor-block .ae-dl-link-style[href$=".mkv"]:before,
.a-editor-block .ae-dl-link-style[href$=".flv"]:before,
.a-editor-block .ae-dl-link-style[href$=".vob"]:before,
.a-editor-block .ae-dl-link-style[href$=".avi"]:before,
.a-editor-block .ae-dl-link-style[href$=".mov"]:before,
.a-editor-block .ae-dl-link-style[href$=".wmv"]:before,
.a-editor-block .ae-dl-link-style[href$=".rm"]:before,
.a-editor-block .ae-dl-link-style[href$=".mp4"]:before,
.a-editor-block .ae-dl-link-style[href$=".mpg"]:before,
.a-editor-block .ae-dl-link-style[href$=".mpeg"]:before,
.a-editor-block .ae-dl-link-style[href$=".m4v"]:before,
.a-editor-block .ae-dl-link-style[href$=".3gp"]:before,
.a-editor-block .ae-dl-link-style[href$=".3g2"]:before{
	content: "\f1c8";
}
.a-editor-block .ae-dl-link-style[href$=".jpg"]:before,
.a-editor-block .ae-dl-link-style[href$=".jpeg"]:before,
.a-editor-block .ae-dl-link-style[href$=".png"]:before,
.a-editor-block .ae-dl-link-style[href$=".tif"]:before,
.a-editor-block .ae-dl-link-style[href$=".gif"]:before,
.a-editor-block .ae-dl-link-style[href$=".bmp"]:before{
	content: "\f1c5";
}
.a-editor-block .ae-dl-link-style[href$=".html"]:before,
.a-editor-block .ae-dl-link-style[href$=".xml"]:before,
.a-editor-block .ae-dl-link-style[href$=".phtml"]:before,
.a-editor-block .ae-dl-link-style[href$=".css"]:before,
.a-editor-block .ae-dl-link-style[href$=".less"]:before,
.a-editor-block .ae-dl-link-style[href$=".sass"]:before,
.a-editor-block .ae-dl-link-style[href$=".scss"]:before,
.a-editor-block .ae-dl-link-style[href$=".json"]:before,
.a-editor-block .ae-dl-link-style[href$=".svg"]:before,
.a-editor-block .ae-dl-link-style[href$=".php"]:before,
.a-editor-block .ae-dl-link-style[href$=".ini"]:before,
.a-editor-block .ae-dl-link-style[href$=".js"]:before,
.a-editor-block .ae-dl-link-style[href$=".sql"]:before,
.a-editor-block .ae-dl-link-style[href$=".cpp"]:before,
.a-editor-block .ae-dl-link-style[href$=".aspx"]:before,
.a-editor-block .ae-dl-link-style[href$=".jsp"]:before,
.a-editor-block .ae-dl-link-style[href$=".jad"]:before,
.a-editor-block .ae-dl-link-style[href$=".html"]:before,
.a-editor-block .ae-dl-link-style[href$=".pl"]:before,
.a-editor-block .ae-dl-link-style[href$=".lib"]:before,
.a-editor-block .ae-dl-link-style[href$=".cs"]:before,
.a-editor-block .ae-dl-link-style[href$=".pyc"]:before,
.a-editor-block .ae-dl-link-style[href$=".bat"]:before,
.a-editor-block .ae-dl-link-style[href$=".rss"]:before,
.a-editor-block .ae-dl-link-style[href$=".java"]:before,
.a-editor-block .ae-dl-link-style[href$=".py"]:before,
.a-editor-block .ae-dl-link-style[href$=".c"]:before,
.a-editor-block .ae-dl-link-style[href$=".prl"]:before,
.a-editor-block .ae-dl-link-style[href$=".o"]:before,
.a-editor-block .ae-dl-link-style[href$=".vbs"]:before,
.a-editor-block .ae-dl-link-style[href$=".as"]:before,
.a-editor-block .ae-dl-link-style[href$=".pyo"]:before,
.a-editor-block .ae-dl-link-style[href$=".action"]:before,
.a-editor-block .ae-dl-link-style[href$=".cmd"]:before,
.a-editor-block .ae-dl-link-style[href$=".rpy"]:before,
.a-editor-block .ae-dl-link-style[href$=".cxx"]:before,
.a-editor-block .ae-dl-link-style[href$=".asi"]:before,
.a-editor-block .ae-dl-link-style[href$=".pm"]:before,
.a-editor-block .ae-dl-link-style[href$=".phl"]:before,
.a-editor-block .ae-dl-link-style[href$=".h"]:before,
.a-editor-block .ae-dl-link-style[href$=".qry"]:before,
.a-editor-block .ae-dl-link-style[href$=".dcr"]:before,
.a-editor-block .ae-dl-link-style[href$=".perl"]:before,
.a-editor-block .ae-dl-link-style[href$=".pyt"]:before,
.a-editor-block .ae-dl-link-style[href$=".aaa"]:before,
.a-editor-block .ae-dl-link-style[href$=".vb"]:before,
.a-editor-block .ae-dl-link-style[href$=".vba"]:before,
.a-editor-block .ae-dl-link-style[href$=".obr"]:before,
.a-editor-block .ae-dl-link-style[href$=".ptl"]:before,
.a-editor-block .ae-dl-link-style[href$=".bcc"]:before,
.a-editor-block .ae-dl-link-style[href$=".xsl"]:before,
.a-editor-block .ae-dl-link-style[href$=".sal"]:before,
.a-editor-block .ae-dl-link-style[href$=".rb"]:before,
.a-editor-block .ae-dl-link-style[href$=".c#"]:before,
.a-editor-block .ae-dl-link-style[href$=".drc"]:before,
.a-editor-block .ae-dl-link-style[href$=".airi"]:before,
.a-editor-block .ae-dl-link-style[href$=".jsonp"]:before,
.a-editor-block .ae-dl-link-style[href$=".matlab"]:before,
.a-editor-block .ae-dl-link-style[href$=".ascx"]:before,
.a-editor-block .ae-dl-link-style[href$=".fsx"]:before,
.a-editor-block .ae-dl-link-style[href$=".jsonp"]:before,
.a-editor-block .ae-dl-link-style[href$=".jsonp"]:before{
	content: "\f1c9";
}