.pace,
.pace-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999999999999;

  background-color: #e74c3c;

  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}
.pace{
}



body.pace-running .pace-overlay,
body.pace-done .pace-overlay{
  display: none;
}

.pace.pace-inactive{
  opacity: 0;
  visibility: hidden;
}
.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  height: 6rem;
  width: 6rem !important;
  left: 50%;
  top: 50%;
  margin-left: -3rem;
  margin-top: -3rem;
  line-height: 6rem;
  font-size: 3.5rem;

  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  text-align: center;


  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}







/*----------hd desktop----------*/
@media (max-width:1549px){
.pace .pace-progress {
  font-size: 3rem;
}
}
/*----------hd desktop----------*/





/*----------tablet vertical----------*/
@media (max-width:991px){
.pace .pace-progress {
  font-size: 2.5rem;
}
}
/*----------tablet vertical----------*/





/*----------mobile vertical----------*/
@media (max-width:479px){
.pace .pace-progress {
  font-size: 1.7rem;
}
}
/*----------mobile vertical----------*/