@charset "utf-8";









/*----------hd desktop----------*/
@media (max-width:1549px){





.ykty-mini-h{
	height: 40px;
}
.ykty-mini-h .thty-scl{
	margin-top: 6px;
}
.ykty-mini-h .ylyy-ul .thlt-li{
    font-size: 11px;
}
.ykty-mini-h .ylyy-ul .thlt-li>a{
    padding: 10px 10px;
}
.ykty-mini-h .thty-scl li a {
    width: 26px;
    height: 26px;

    font-size: 11px;
    line-height: 26px;
}
.ykty-mini-h .thty-scl li{
	margin-right: 2px;
}

.ykty-mini-h .ylyy-ul ul{
    font-size: 10px;
}
.ykty-mini-h .ylyy-ul ul li>a{
    padding: 6px 15px;
}








.dfdep-sspo .glkfgr-cont .gfkt-ttdl{
	margin-top: 230px;
}
.dfdep-sspo .glkfgr-cont .fklf-spc{
	padding: 20px;
}
.dlgf-head .fgfl-vv{
	font-size: 14px;
}
.dfdep-sspo .vl-scctt{
	margin-top: 20px;
}
.dfdep-sspo .rfkf-scte .vl-svt {
    margin: 16px 12px;
}

.dkvlrg-simg{
	height: 720px;
}
.rlgf-bimg{
	/*height: 720px;
    margin-top: -360px;*/
}






.common-button.cmb-large{
    height: 37px;

	font-size: 12px;
    line-height: 36px;
}
.common-button.cmb-large.cmb-icon i {
    width: 37px;
    height: 37px;
    line-height: 36px;
}





.fktrt-head .kfltr-dc .vflt-rcc{
    font-size: 11px;
}
.kttb-fdd .gkrdf-row .tlgff-ul li a {
    padding: 4px 14px 4px 0;
}






.kttb-fdd{
	width: 540px;
}
.kttb-fdd .gkrdf-row .sid-spc {
    max-height: 140px;
    min-height: 140px;
    margin: 10px;
}




.fkvlg-ddtei{
	padding-bottom: 55px;
}





.dflg-fssc .dgg-cls .dgrf-spc{
	margin: 35px 10px;
}
.dflg-fssc .dgg-cls.dld-ww{
	width: 30%;
}
.dflg-fssc .dgg-cls.dld-ss{
	width: 70%;
}
.dflg-fssc .dgg-cls .ffogf-img-h{
	max-width: 230px;

    box-shadow: 0 0 0 4px rgba(255,255,255,0.1);
    -webkit-box-shadow: 0 0 0 4px rgba(255,255,255,0.1);
}
.ffogf-img-h .sdle-shell .flgf-svs{
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;

    line-height: 60px;
    font-size: 20px;
}
.dflg-fssc .fdld-trim .fkl-ttls {
    margin: 0 auto;
    max-width: 195px;
}
.fl-eedssl-s{
	font-size: 20px;
}
.fkff-ss{
	font-size: 12px;
}









.common-tag-link {
    height: 36px;
    padding: 0 12px;
    position: relative;
    display: inline-block;
    z-index: 1;

    line-height: 34px;
    color: #fff;
    font-size: 11px;
}
.common-tag-link .ctl-frw-triangle{
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 14px solid #3498db;
}









.flip-clock-wrapper ul{
    width: 22px !important;
    height: 47px !important;
}
.flip-clock-wrapper ul li{
    line-height: 47px !important;
}
.flip-clock-wrapper ul li a div div.inn{
	font-size: 24px !important;
}
.flip-clock-divider{
	margin: 0 2px !important;
}



.fler-errgr .dfvf-dssd {
    padding: 40px 0;
}






.flf-ssccp .afklf-fee {
    width: 140px;
    height: 106px;
    left: -6px;
    top: -14px;
}
.flf-ssccp .afklf-fee .fldsd-ds {
    top: 20px;
    margin-right: 14px;
    font-size: 32px;
}
.flf-ssccp .afklf-fee .fldscs-ww{
	font-size: 11px;
}
.flf-ssccp .flgfs-slrr .dfmkg-cl .fkf-spc{
	padding: 15px;
}








.gflf-circ-serv .dfdls-spc .gfkf-miid-cl{
    width: 180px;
}
.gflf-circ-serv .dfdls-spc:before{
    left: -45px;
    top: -100px;
    right: -45px;
}
.gflf-circ-serv .dfl-cont{
	height: 470px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-4{
	width: 245px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-4{
	top: 60px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-3{
	top: 140px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-2{
	top: 88px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-1{
	top: 110px;
}
.gflf-circ-serv .dfdls-spc .gffls-cc {
    margin-top: 15px;

    font-size: 13px;
}
.gflf-circ-serv .dfdls-spc .afkg-fsc{
	margin-top: 7px;
}
.gflf-circ-serv .fklgf-img-h .ffkr-shell .gvkf-sov {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;

    line-height: 55px;
    font-size: 19px;
}










.dlfg-usr-cmnt .tofd-cont {
    padding: 30px 0;
    padding-bottom: 40px;
}
.lpeg-img-cl{
	width: 130px;
}
.fkfd-cdg{
	margin-right: 130px;
}
.lpeg-img-cl .sdr-img-h {
    border-width: 2px;

    box-shadow: 0 0 0 2px rgba(96,188,249,0.25);
    -webkit-box-shadow: 0 0 0 2px rgba(96,188,249,0.25);
}
.fkfd-cdg .fkf-scc .fvkf-vvfkd {
    padding: 10px 14px;
    margin-top: 12px;

    color: #343434;
    font-size: 11px;
}
.fkfd-cdg .fkf-scc .fvkf-vvfkd:before {
    right: 14px;

    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #ebebeb;
}







.dmkfd-m-footer .fvkf-spcc {
    padding: 12px 0;

    line-height: 28px;
    font-size: 11px;
}







.fkf-footer .gflfd-cl .kffg-spc {
    padding: 25px 10px;
}
.fkf-footer .gflfd-cl .fkf-ccgrw{
	font-size: 14px;
}
.fkf-footer .gflfd-cl .fkfg-c-ul {
    margin-top: 10px;
}
.fkf-footer .gflfd-cl .fkfg-c-ul li a{
	font-size: 12px;
}










.fkfg-lgn-pup .fkf-fv-cnt{
    width: 330px;
    height: 350px;
    margin-left: -165px;
    margin-top: -175px;
}
.fkfg-lgn-pup .fkf-rvvr .ddet-spc {
    padding: 12px 20px;
}
.fdkr-rdsc{
	margin-top: 20px;
	padding-bottom: 20px;
}
.fdkr-rdsc .fdss-rw{
    margin-top: 15px;
}
.ddet-spc .fkyf-rr{
    padding: 15px 0;
    padding-bottom: 0;

    font-size: 11px;
}
.fkfg-lgn-pup .kft-tls{
	padding: 15px 20px;
}






.common-close-btn {
    width: 27px;
    height: 27px;
    left: 6px;
    top: 6px;

    line-height: 27px;
    font-size: 12px;
}





.frm-el-inpt {
    height: 37px;
    padding: 0 13px;
    
    font-size: 12px;
}






.gkl-dtte .feld-cnt {
    width: 860px;
    height: 480px;
    margin-left: -430px;
    margin-top: -240px;
}
.gkl-dtte .mkf-scsc {
    height: 480px;
}
.gkl-dtte .flf-rght .flfs-scp {
    padding: 19px;
}
.gkl-dtte .flf-rght .flfer-ssc{
	font-size: 12px;
}
.gkl-dtte .gflf-tls .kffe-scs .common-button{
    height: 36px;
}
.gkl-dtte .gflf-tls .kffe-scs .common-button i{
	width: 36px;
	height: 36px;

	line-height: 35px;
}
.gkl-dtte .klfg-lft .gfkvf-str .fkl-3d3 {
    padding: 4px 13px;
    padding-left: 20px;
    
    line-height: 34px;
    font-size: 14px;
}
.gkl-dtte .klfg-lft .gfkvf-str .rtg-tdl {
    padding: 8px 13px;
    padding-left: 20px;
    margin-top: 6px;
    
    font-size: 12px;
}
.gkl-dtte .klfg-lft .gfkvf-str {
    left: -3px;
    top: 40px;
}
.gkl-dtte .klfg-lft .gfk-img-h {
    width: 184px;
    height: 184px;
    margin-left: -92px;
    margin-top: -92px;

    box-shadow: 0 0 0 3px rgba(255,255,255,0.35);
    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255,0.35);
}
.gkl-dtte .gfk-img-h .lds-shell .flgf-svs {
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;

    line-height: 50px;
    font-size: 16px;
}




.dlfg-usr-cmnt .fkf-soc{
    margin: 0 40px;
}
.dlfg-usr-cmnt .fkf-soc .fkdd-ccl{
    width: 40px;
}
.dlfg-usr-cmnt .fkf-soc .fkdd-ccl.kfg-next {
    left: -40px;
}
.dlfg-usr-cmnt .fkf-soc .fkdd-ccl.kfg-prev {
    right: -40px;
}








.fkfg-lgn-pup.on-ground .krrd-cont{
    width: 330px;
}
.fkfg-lgn-pup.on-ground{
    padding: 50px 0;
}











}
/*----------hd desktop----------*/

















/*----------tablet landscape----------*/
@media (max-width:1199px){








.sfkf-ssk .fkft-trc .ldgrt-spc{
	margin: 0 5px;
}


.ykty-mini-h .tmkth-ccm,
.trtk-ul{
	display: none;
}
.tgf-m-nav-holder{
	display: block;
}





.khtfg-logo-h .lrr-lg {
    width: 133px;
    top: -1px;
}





.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-3{
    left: 290px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-2{
    right: 255px;
}







.dke-rdkd-rk3 .fdlt-cont{
    padding: 30px 0;
}
.dke-rdkd-rk3 .ndk-nav{
    width: 260px;
}
.dke-rdkd-rk3 .ndk-cont{
    margin-right: 260px;
    min-height: 300px;
}








.fkrf-sc-cls .kffg-img-h{
    width: 140px;
}
.fkrf-sc-cls .kfc-ddgg-cnt{
    margin-right: 150px;
    padding-right: 15px;
}
.fkrf-sc-cls .dfkd-tls .fdglf-slct-label .kf-dgg-btn{
    font-size: 10px;
}







.dke-rdkd-rk3 .fked-col.fc-rr{
    width: 280px;
}
.dke-rdkd-rk3 .fked-col.fc-ll{
    margin-right: 280px;
}








.rdxol-ugm{
    margin-top: 30px;
}










.rdxol-ugm .orsl-img-bl {
    width: 140px;
}
.rdxol-ugm .fmce-title{
    right: 160px;
    top: 25px;

    font-size: 15px;
}
.rdxol-ugm .fmce-desc{
    right: 160px;
    top: 61px;

    font-size: 11px;
}








.ddc-itm-h .cmn-box-item{
    width: 50%;
}







.ddc-itm-h .ddc-row-bg .dkdv-rc{
    width: 250px;
}
.ddc-itm-h .ddc-row-bg .dkdv-lc {
    margin-right: 270px;
}







.vdls-slid .ds-item{
    width: 50%;
}









}
/*----------tablet landscape----------*/

















/*----------tablet vertical----------*/
@media (max-width:991px){



.dfdep-sspo .rfkf-scte{
    font-size: 11px;
}



.gkl-dtte .mkf-scsc .klfg-lft{
    display: none;
}
.gkl-dtte .flf-rght{
    left: 0;
}
.gkl-dtte .feld-cnt {
    width: 600px;
    height: 350px;
    margin-left: -300px;
    margin-top: -175px;
}
.gkl-dtte .mkf-scsc{
    height: 350px;
}
.gkl-dtte .flf-rght .common-popup-cls-btn{
    display: block;
}

.sfkf-ssk .fkft-trc{
    width: 50%;
}
.sfkf-ssk .fkft-trc .ldgrt-spc{
    margin: 10px;
}
.fler-errgr .dfvf-dssd .gflf-cl.fdle-ee,
.fler-errgr .dfvf-dssd .gflf-cl.fdle-ww{
    width: 100%;
}
.fler-errgr .dfvf-dssd .gflf-cl.fdle-ww{
    margin-top: 30px;
}
.flf-ssccp .flowplayer{
    width: 100% !important;
}



.gflf-circ-serv .dfl-cont{
    height: 750px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-1{
    top: 50px;
    right: 130px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-2 {
    right: auto;
    left: 130px;
    top: 50px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-3 {
    left: auto;
    right: 130px;
    top: 400px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-4 {
    top: 360px;
    left: 100px;
}




.cmnt-slider .ds-item{
    width: 100%;
}



.fkf-footer .dfdkf-cl-h .gflfd-cl{
    width: 50%;
}
.fkf-footer .gflfd-cl .kffg-spc{
    min-height: 270px;
}








.kr-ddhrr-ss .rlpr-brd-crm{
    width: 670px;
}








.dke-rdkd-rk3 .ndk-nav{
    width: auto;
    float: none;
}
.dke-rdkd-rk3 .ndk-cont{
    margin-right: 0;
    margin-top: 20px;
}
.dke-rdkd-rk3 .ndk-nav li{
    margin-left: 10px;
}
.dke-rdkd-rk3 .tbl-wrap table{
    min-width: 100%;
}










.dke-rdkd-rk3 .fked-col.fc-rr{
    width: auto;
    float: none;
}
.dke-rdkd-rk3 .fked-col.fc-ll{
    margin-right: 0;
    margin-top: 20px;
}
.dke-rdkd-rk3 .fked-col.fc-ll.spc-top-large{
    margin-top: 40px;
}
.dke-rdkd-rk3 .fked-col.fc-rr .dksd-spc{
    margin-left: 0;
}
.dke-rdkd-rk3 .fked-col.fc-ll .dksd-spc{
    margin-right: 0;
}








}
/*----------tablet vertical----------*/


















/*----------mobile landscape----------*/
@media (max-width:767px){




.gkl-dtte .flf-rght .flfer-ssc{
    display: none;
}
.gkl-dtte .flf-rght .flfer-ssc.flfer-kferr-summary{
    display: block;
}

.gkl-dtte .feld-cnt {
    width: 400px;
    height: 260px;
    margin-left: -200px;
    margin-top: -130px;
}
.gkl-dtte .mkf-scsc {
    height: 260px;
}

.gkl-dtte .gflf-tls .fkr-dd,
.gkl-dtte .gflf-tls .kffe-scs{
    width: 100%;
    float: none;
}
.gkl-dtte .gflf-tls .kffe-scs{
    margin-top: 5px;
}





.kttb-fdd .gkrdf-row .gkfg-col{
    width: 100%;
}
.kttb-fdd {
    width: 290px;
}
.kttb-fdd:after{
    display: none;
}
.mfgr-se-bl .kttb-fdd{
    overflow: auto;
    max-height: 350px;
}
.kttb-fdd .gkrdf-row .sid-spc{
    min-height: 0;
    max-height: none;
}




.dfdep-sspo .rfkf-scte{
    display: none;
}
.dfdep-sspo .rfkf-scte.kfdf-summary{
    display: block;
}
.dfdep-sspo .glkfgr-cont .gfkt-ttdl{
    max-width: 100%;
}





.dkvlrg-simg {
    height: 600px;
}
.rlgf-bimg {
    width: 1508px;
    height: 645px;
    margin-top: -322px;
    margin-left: -754px;
}


.fkvlg-ddtei {
    padding-bottom: 30px;
}







.dflg-fssc .dgg-cls.dld-ww,
.dflg-fssc .dgg-cls.dld-ss{
    width: 100%;
    float: none;
}

.dflg-fssc .dgg-cls.dld-ww{
    padding-top: 15px;
}

.dflg-fssc .dgg-cls .dgrf-spc {
    padding: 35px 10px;
    padding-top: 10px;
    margin: 0;
}






.gflf-circ-serv .dfdls-spc{
    position: static;
    padding: 30px 0;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl{
    float: none;
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
}
.gflf-circ-serv .dfl-cont{
    height: auto;
}







.lpeg-img-cl{
    display: none;
}
.fkfd-cdg{
    margin-right: 0;
}



.fkf-footer .dfdkf-cl-h .gflfd-cl{
    width: 100%;
}








.kr-ddhrr-ss .fker-edge {
    height: 22px;
}
.kr-ddhrr-ss .rlpr-brd-crm{
    display: none;
}
.kr-ddhrr-ss .ldkie-ccl{
    padding: 9px 8px;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #fff;
}









.dke-rdkd-rk3 .tbl-wrap table{
    min-width: 700px;
}
.fkrd-vvt .flff-btrr{
    width: 100% !important;
}
.fkrd-vvt:before{
    display: none;
}
.fkrd-vvt .flff-btrr.rkrd-vv .dkre-spc{
    margin-left: 0;
}
.fkrd-vvt .flff-btrr.rkrd-rr .dkre-spc{
    margin-right: 0;
}
.fkrd-vvt .flff-btrr.rkrd-rr{
    margin-top: 20px;
}






.fkrf-sc-cls .kffg-img-h{
    width: 100%;
    float: none;
}
.fkrf-sc-cls .kfc-ddgg-cnt{
    margin-right: 0;
    padding-right: 0;
    margin-top: 20px;

    border-right: 0;
}
.fkrf-sc-cls .kffg-img-h .kd-img-box{
    max-width: 140px;
    margin: 10px auto;
}









.rdxol-ugm .orsl-img-bl{
    width: 120px;

    opacity: 0;
}
.rdxol-ugm .kdx-bg-bl{
    right: 0;
    top: 0;
    bottom: 0;
}
.rdxol-ugm .fmce-title,
.rdxol-ugm .fmce-desc{
    right: 15px;
    z-index: 5;
}
.rdxol-ugm .fmce-title{
    top: 15px;
}
.rdxol-ugm .fmce-desc{
    top: 51px;
}
.rdxol-ugm .skcvc-btn{
    display: none;
}









.ddc-itm-h .ddc-row-bg .dkdv-rc{
    width: auto;
    max-width: 270px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.ddc-itm-h .ddc-row-bg .dkdv-lc {
    margin-right: 0;
    margin-top: 20px;
}







.kdcc-tab{
    margin-bottom: 10px;
}
.kdcc-tab li{
    float: none;
    display: block;
    margin-bottom: 1px;
    margin-right: 0;
}
.kdcc-tab li a{
    display: block;
}








.dual-img-bl .lfed-img-b .mrf-img{
    opacity: 0;
}
.dual-img-bl .fsdv-bg{
    right: 0;
}
.dual-img-bl .lfed-img-b{
    top: -10px;
}
.dual-img-bl .lfed-img-b.ldd-large{
    bottom: 20px;
}
.dual-img-bl .lfed-img-b .dkvf-txt-h{
    width: 0;
    margin-right: -25px;
}
.vdls-slid .ds-item{
    width: 100%;
}
.vdls-slid .ds-item .lfffk-spc{
    margin: 0;
}
.cmtn-frm .kfdv-row .clc{
    width: 100%;
}
.cmtn-frm .kfdv-row .clc .dlc-spc{
    margin: 0 !important;
}
.cmtn-frm .kfdv-row .clc.first{
    margin-bottom: 10px;
}
.rorrm-tls .oee-rgt{
    clear: both;
    margin-top: 20px;
}









}
/*----------mobile landscape----------*/

















/*----------mobile vertical----------*/
@media (max-width:479px){




.sfkf-ssk .fkft-trc{
    width: 100%;
}



.flf-ssccp .afklf-fee {
    width: 110px;
    height: 84px;
    left: -5px;
    top: -10px;
}
.flf-ssccp .afklf-fee .fldsd-ds {
    top: 17px;
    margin-right: 14px;

    font-size: 24px;
}
.flf-ssccp .afklf-fee .fldscs-ww {
    bottom: 8px;

    font-size: 9px;
}

.flf-ssccp .flgfs-slrr .dfmkg-cl{
    width: 100%;

    text-align: center !important;
}
.flf-ssccp .flgfs-slrr .dfmkg-cl .fkf-spc {
    padding: 7px 15px;
}





.gkl-dtte .feld-cnt {
    width: 320px;
    height: 250px;
    margin-left: -160px;
    margin-top: -125px;
}

.gkl-dtte .mkf-scsc {
    height: 250px;
}







.khtfg-logo-h{
    height: 160px;
}
.khtfg-logo-h .lrr-lg {
    width: 133px;
    right: 50%;
    margin-right: -66px;
}
.khtfg-logo-h .fktt-tls {
    margin-top: 0;
    padding-top: 110px;
    float: none;

    text-align: center;
}





.mfgr-se-bl{
    float: none;
    margin: 0 auto;

    text-align: center;
}
.rktt-b-nav{
    margin: 0;
}
.lgfr-nav .fltht-cont{
    width: 100%;
}
.mfgr-se-bl{
    width: auto;
}
.thlty-se-sc{
    margin-top: 60px;
    margin-left: 30px;
    display: inline-block;
    float: none;
}
.mfgr-se-bl .kttb-fdd{
    text-align: right;
    left: 50%;
    margin-left: -145px !important;
}
.mfgr-se-bl .kttb-fdd{
    max-height: 290px;
}
.tgf-m-nav-holder.fkte-org-nav {
    right: 50%;
    margin-right: -80px;
    top: 10px;
}
.tgf-m-nav-holder.fkte-org-nav .flexnav{
    right: 50%;
    margin-right: -157px;
}
.mfgr-se-bl .kttb-fdd{
    margin-top: 44px;
    margin-left: 15px;
}






.dkvlrg-simg{
    height: 780px;
}
.rlgf-bimg{
    width: 1826px;
    height: 780px;
    margin-top: -390px;
    margin-left: -913px;
}





.dfdep-sspo .glkfgr-cont .gfkt-ttdl {
    margin-top: 340px;
}









.kr-ddhrr-ss .fkre-sc-cont{
    height: 430px;
}








.fkrd-factor .kdf-row{
    background-image: none;
}









.fkrf-sc-cls .fvkf-wrapper{
    overflow: auto;
}
.fkrf-sc-cls .fkr-clrr-tlb{
    min-width: 400px;
}











.ddc-itm-h .cmn-box-item{
    width: 100%;
}
.ddc-itm-h .cmn-box-item .cbi-spc{
    margin-right: 0;
}






}
/*----------mobile vertical----------*/