@charset "utf-8";

@font-face {
    font-family: 'iransans';
    src:
    	url("font/iransans/IRANSans-web.eot?#iefix") format("eot"),
		url("font/iransans/IRANSans-Light-web.woff") format("woff"),
		url("font/iransans/IRANSans-Light-web.woff2") format("woff2"),
		url("font/iransans/IRANSans-web.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}


*{
	margin: 0;
	padding: 0;
	
	text-decoration: none;
	font-weight: normal;

	outline: none;
	border: none;
	list-style: none;
}
*:link{
	display: inline-block;
	color: inherit;
}
*:visited{
	display: inline-block;
	color: inherit;
}

::selection{
	color:#EEE;
	background-color:#3498db;
}
::-webkit-selection{
	color:#EEE;
	background-color:#3498db;
}
::-moz-selection{
	color:#EEE;
	background-color:#3498db;
}
::-o-selection{
	color:#EEE;
	background-color:#3498db;
}
::-ms-selection{
	color:#EEE;
	background-color:#3498db;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
header,
nav,
section,
article,
aside,
footer{
   display:block;
}
html{
	overflow: auto;
	overflow-x: hidden;
}
body{
	overflow: hidden;
	direction: rtl;

	background-color: #f5f5f5;
}
body,
input,
textarea,
button,
select{
	font-size: 13px;
	font-family: 'iransans', Tahoma, Verdana;
}
body:before{
	display: none !important;
}

/*----------general----------*/
label,
button,
input[type=checkbox],
input[type=radio],
input[type=submit]{
	cursor:pointer;
}
.f-parent:after{
	display:block;
	content:' ';
	clear:both;
}
.trs-1{
	transition:0.1s;
	-webkit-transition:0.1s;
	-moz-transition:0.1s;
	-o-transition:0.1s;
}
.trs-2{
	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
}
.trs-3{
	transition:0.3s;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
}
.trs-4{
	transition:0.4s;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
}
.trs-5{
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
}
.en-text{
	text-align:left;
	direction:ltr;
}
.en-font{
	text-align:left;
	direction:ltr;
}
.fa-text{
	text-align:right;
	direction:rtl;
}
.m-top-bug{
	padding-top: 0.1px;
}
.m-bottom-bug{
	padding-bottom: 0.1px;
}
.m-top-bottom-bug{
	padding-top: 0.1px;
	padding-bottom: 0.1px;
}
.t-table{
	width:100%;
	display:table;
}
.t-tr{
	display:table-row;
	
	text-align:center;
}
.t-td{
	display:table-cell;
	vertical-align:middle;
}





.hidden-elem{
	display: none !important;
}








.sys-container{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width:1549px){
.sys-container{
}
}
@media (max-width:1199px){
.sys-container{
	width: 970px;
}
}
@media (max-width:991px){
.sys-container{
	width: 740px;
}
}
@media (max-width:767px){
.sys-container{
	width: 450px;
}
}
@media (max-width:479px){
.sys-container{
	width: 90%;
}
}
/*----------general----------*/











/*----------button style----------*/
.common-button{
	height: 30px;
	padding: 0 15px;
	display: inline-block;

	font-size: 12px;
	line-height: 28px;
	color: #fff;

	cursor: pointer;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.common-button:active{
	box-shadow: none;
	-webkit-box-shadow: none;

	transform: translateY(2px);
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-o-transform: translateY(2px);
}
.common-button.cmb-icon{
	padding-right: 0;
}
.common-button.cmb-icon i{
	width: 30px;
	height: 30px;
	margin-left: 7px;
	display: inline-block;

	text-align: center;
	line-height: 30px;

	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}







/*----mini----*/
.common-button.cmb-mini{
    padding: 0 13px;
    height: 26px;

    font-size: 10px;
    line-height: 25px;
}
.common-button.cmb-mini.cmb-icon{
	padding-right: 0;
}
.common-button.cmb-mini.cmb-icon i{
    width: 26px;
    height: 26px;

    line-height: 25px;
}







/*----large----*/
.common-button.cmb-large{
    height: 40px;
    padding: 0 18px;

    font-size: 13px;
    line-height: 39px;
}
.common-button.cmb-large.cmb-icon{
	padding-right: 0;
}
.common-button.cmb-large.cmb-icon i{
    width: 40px;
    height: 40px;

    line-height: 39px;
}







/*----blue----*/
.common-button{
	background-color: #55b5f5;

	box-shadow: 0 2px 0 0 #358dc8;
	-webkit-box-shadow: 0 2px 0 0 #358dc8;
}
.common-button.cmb-icon i{
	background-color: #4eaded;
}
.common-button:hover{
	background-color: #489fd9;

	box-shadow: 0 2px 0 0 #2f6f99;
	-webkit-box-shadow: 0 2px 0 0 #2f6f99;
}
.common-button.cmb-icon:hover i{
	background-color: #4491c5;
}







/*----green----*/
.common-button.cmb-cl-green{
	background-color: #47e189;

	box-shadow: 0 2px 0 0 #2dad64;
	-webkit-box-shadow: 0 2px 0 0 #2dad64;
}
.common-button.cmb-cl-green.cmb-icon i{
	background-color: #3ed37e;
}
.common-button.cmb-cl-green:hover{
	background-color: #41c378;

	box-shadow: 0 2px 0 0 #239353;
	-webkit-box-shadow: 0 2px 0 0 #239353;
}
.common-button.cmb-cl-green.cmb-icon:hover i{
	background-color: #3cb870;
}







/*----red----*/
.common-button.cmb-cl-red{
	background-color: #f25c4d;

	box-shadow: 0 2px 0 0 #bb3729;
	-webkit-box-shadow: 0 2px 0 0 #bb3729;
}
.common-button.cmb-cl-red.cmb-icon i{
	background-color: #e25243;
}
.common-button.cmb-cl-red:hover{
	background-color: #df4e3f;

	box-shadow: 0 2px 0 0 #a02d22;
	-webkit-box-shadow: 0 2px 0 0 #a02d22;
}
.common-button.cmb-cl-red.cmb-icon:hover i{
	background-color: #d14132;
}







/*----gray----*/
.common-button.cmb-cl-gray{
	background-color: #c8c8c8;

	box-shadow: 0 2px 0 0 #b9b9b9;
	-webkit-box-shadow: 0 2px 0 0 #b9b9b9;
}
.common-button.cmb-cl-gray.cmb-icon i{
	background-color: #bebebe;
}
.common-button.cmb-cl-gray:hover{
	background-color: #b8b8b8;

	box-shadow: 0 2px 0 0 #acacac;
	-webkit-box-shadow: 0 2px 0 0 #acacac;
}
.common-button.cmb-cl-gray.cmb-icon:hover i{
	background-color: #aeaeae;
}







/*----orange----*/
.common-button.cmb-cl-orange{
	background-color: #ebc21a;

	box-shadow: 0 2px 0 0 #d8b319;
	-webkit-box-shadow: 0 2px 0 0 #d8b319;
}
.common-button.cmb-cl-orange.cmb-icon i{
	background-color: #e0b917;
}
.common-button.cmb-cl-orange:hover{
	background-color: #deb717;

	box-shadow: 0 2px 0 0 #cca813;
	-webkit-box-shadow: 0 2px 0 0 #cca813;
}
.common-button.cmb-cl-orange.cmb-icon:hover i{
	background-color: #d6b015;
}
/*----------button style----------*/












/*----------main header----------*/
.tyty-dlkrr{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
}
.ykty-mini-h{
	height: 45px;
	background-color: #1b1b1b;
}
.ykty-mini-h .gklt-cont{
	position: relative;
}
.ykty-mini-h .tmkth-ccm{
	float: right;
}
.ykty-mini-h .ylyy-ul{
}
.ykty-mini-h .ylyy-ul .thlt-li{
	float: right;
	position: relative;
	z-index: 20;

	line-height: 20px;
	font-size: 12px;
}
.ykty-mini-h .ylyy-ul .thlt-li>a{
	padding: 12px 10px;

	color: #747474;
}
.ykty-mini-h .ylyy-ul .thlt-li:hover>a{
	color: #fff;

	background-color: #353535;
}
.ykty-mini-h .ylyy-ul ul{
	width: 200px;
	position: absolute;
	padding: 5px 0;
	z-index: 5;

	font-size: 11px;

	background-color: #353535;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;

	opacity: 0;
	visibility: hidden;

	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-o-transform: translateY(15px);
}
.ykty-mini-h .ylyy-ul .thlt-li:hover ul{
	opacity: 1;
	visibility: visible;

	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
}
.ykty-mini-h .ylyy-ul ul li{
	display: block;
}
.ykty-mini-h .ylyy-ul ul li>a{
	display: block;
    padding: 8px 15px;

    color: #aeaeae;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.ykty-mini-h .ylyy-ul ul li>a:hover{
	color: #fff;

	background-color: #454545;
}

.ykty-mini-h .thty-scl{
	float: left;
    margin-top: 9px;
}
.ykty-mini-h .thty-scl li{
	float: right;
	margin-right: 4px;
}
.ykty-mini-h .thty-scl li a{
	width: 27px;
	height: 27px;

	color: #636363;
	line-height: 27px;
	text-align: center;

	background-color: #2c2c2c;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.ykty-mini-h .thty-scl li a:hover{
	color: #fff;

	background-color: #419fdd;

	/*box-shadow: 0 0 0 4px rgba(65, 159, 221, 0.35);
	-webkit-box-shadow: 0 0 0 4px rgba(65, 159, 221, 0.35);*/
}
/*----------main header----------*/







/*----------logo holder----------*/
.khtfg-logo-h{
	height: 95px;
	background-color: rgba(0,0,0,0.8);
}
.khtfg-logo-h .rrtgk-cont{
	position: relative;
}
.khtfg-logo-h .lrr-lg{
	width: 145px;
	position: absolute;
	right: 0;
	top: -4px;
	display: block;
	z-index: 2;
}
.khtfg-logo-h .lrr-lg img{
	width: 100%;
	display: block;
}
.khtfg-logo-h .fktt-tls{
	float: left;
	margin-top: 30px;
}
/*----------logo holder----------*/








/*----------search----------*/
.lgfr-nav{
	margin-top: 2px;
}
.mfgr-se-bl{
	float: left;
	position: relative;

	background-color: rgba(0,0,0,0.75);

	width: 240px;
	height: 50px;
}
.mfgr-se-bl .gfkrr-gg{
	width: 35px;
	position: absolute;
	left: 100%;
	top: 0;
	bottom: 0;

	background-image: url("../img/common/se-splitter.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right center;
}
.thlty-se-sc{
	width: 200px;
	height: 30px;
	margin-top: 9px;
	position: relative;
	padding-left: 30px;
	margin-left: 15px;
	float: left;

	background-color: #353535;

	border-radius: 0 20px 100px 0;
	-webkit-border-radius: 0 20px 100px 0;
}
.thlty-se-sc .gflr-rv{
	width: 190px;
	height: 30px;
	margin-right: 20px;

	color: #fff;
	font-size: 12px;

	background-color: #353535;
}
.thlty-se-sc .gflr-btn{
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	left: -15px;
	top: 0;

	text-align: center;
	line-height: 30px;
	color: #fff;

	background-color: #c43e30;
	cursor: pointer;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.thlty-se-sc .gflr-btn:hover{
	background-color: #dd5041;
}





.kttb-fdd{
	width: 600px;
	position: absolute;
	left: 0;
	top: 100%;

	background-color: #fff;

    box-shadow: 0px 3px 13px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 3px 13px rgba(0,0,0,0.09);

    opacity: 0;
    visibility: hidden;

    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
}
.mfgr-se-bl.fkr-show-box .kttb-fdd{
	opacity: 1;
	visibility: visible;

    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
}
.kttb-fdd:before{
	width: 0;
	height: 0;
	content: ' ';
	position: absolute;
	left: 8px;
	bottom: 100%;

	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
}
.kttb-fdd:after{
	width: 1px;
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	content: ' ';

	background-color: #ededed;
}
.kttb-fdd .gkrdf-row{
}
.kttb-fdd .gkrdf-row .gkfg-col{
	width: 50%;
	float: right;
}


.fktrt-head{
	padding-left: 17px;
}
.fktrt-head .kfltr-dc{
	padding-top: 10px;

	border-bottom: 1px solid #e6f4fe;
}
.fktrt-head .kfltr-dc .vflt-rcc{
	display: inline-block;
	position: relative;
    padding: 5px 9px;
    padding-right: 20px;
    padding-left: 30px;

	color: #fff;
	font-size: 12px;

	background-color: #e98a81;
	background-image: url("../img/common/search-h-img.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 100%;
}
.fktrt-head.fkh-blue .kfltr-dc .vflt-rcc{
	background-color: #81cde9;
	background-image: url("../img/common/search-h-img-blue.png");
}






.kttb-fdd .gkrdf-row .sid-spc{
	max-height: 175px;
	min-height: 175px;
	overflow: auto;
	margin: 15px;
}
.kttb-fdd .gkrdf-row .tlgff-ul{
}
.kttb-fdd .gkrdf-row .tlgff-ul li{
}
.kttb-fdd .gkrdf-row .tlgff-ul li a{
	padding: 4px 20px 4px 0;
	display: block;

	color: #646464;
}
.kttb-fdd .gkrdf-row .tlgff-ul li a i{
	margin-left: 5px;

	color: #b5b5b5;
}
.kttb-fdd .gkrdf-row .tlgff-ul li a,
.kttb-fdd .gkrdf-row .tlgff-ul li a i{
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.kttb-fdd .gkrdf-row .tlgff-ul li a:hover,
.kttb-fdd .gkrdf-row .tlgff-ul li a:hover i{
	color: #3498db;
}
.kttb-fdd .gkrdf-row .tlgff-ul li a:hover i{
	transform: translateX(-3px);
	-webkit-transform: translateX(-3px);
	-moz-transform: translateX(-3px);
	-o-transform: translateX(-3px);
}





.grlrt-ul li:not(:last-of-type){
	margin-bottom: 10px;
}
.grlrt-ul .gfkrt-img-h{
	width: 65px;
	/*height: 40px;*/
	float: right;
	position: relative;

	background-color: #ce3;
}
.grlrt-ul .gfkrt-img-h img{
	width: 100%;
	display: block;
}
.grlrt-ul .gfkrt-img-h .gfkr-ssh{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: rgba(52,152,219,0.5);

	opacity: 0;
}
.grlrt-ul .gfkrt-img-h:hover .gfkr-ssh{
	opacity: 1;
}
.grlrt-ul .gfkrt-img-h .gfkr-ssh .gflf-ccmi{
	width: 18px;
	height: 18px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -9px;
	margin-left: -9px;

	line-height: 18px;
	text-align: center;

	background-color: #fff;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.grlrt-ul .gflr-gfkf{
	display: block;
	margin-right: 65px;
	padding-right: 13px;
	padding-top: 1px;
}
.grlrt-ul .gflr-gfkf .trrl-ss{
	display: block;

	font-size: 12px;
	color: #646464;
}
.grlrt-ul .gflr-gfkf:hover .trrl-ss{
	color: #3498db;
}
.grlrt-ul .gflr-gfkf .flder-cc{
	display: block;
	margin-top: 3px;

	font-size: 10px;
	color: #adadad;
}






.kltr-tools{
	position: relative;
	margin: 20px 15px;

	text-align: left;
}
.kltr-tools:before{
	height: 1px;
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;

	background-color: rgba(0,0,0,0.05);
}
.kltr-tools .common-button{
	position: relative;
	z-index: 2;
}
/*----------search----------*/








/*----------navigation----------*/
.lgfr-nav .flfg-gscc{
	width: 20000px;
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;

	background-color: rgba(0,0,0,0.75);
}
.lgfr-nav .flfg-gscc.refl-le{
	right: 100%;
}
.lgfr-nav .flfg-gscc.refl-ri{
	left: 100%;
}
.lgfr-nav .fltht-cont{
	position: relative;
}




.rktt-b-nav{
	margin-left: 275px;

	background-color: rgba(0,0,0,0.75);
	height: 50px;
}

.trtk-ul{
	padding-top: 6px;

	font-size: 12px;
}
.trtk-ul .tktmk-li{
	float: right;
}
.trtk-ul .tktmk-li .kote-it{
    padding: 4px 15px;
	position: relative;

	line-height: 26px;
	color: #fff;

    border-radius: 50px;
    -webkit-border-radius: 50px;
}
.trtk-ul .tktmk-li:hover .kote-it{
	background-color: #dd4c3d;
}




.trtk-ul .tktmk-li.rtt-norm-nav{
	position: relative;
}

.trtk-ul .tktmk-li .gt-spc{
	width: 220px;
	position: absolute;
	right: 0;
	top: 100%;
	padding-top: 10px;
	z-index: 10;

    opacity: 0;
    visibility: hidden;

	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-o-transform: translateY(15px);
}
.trtk-ul .tktmk-li:hover>.gt-spc,
.trtk-ul .bt-slt-li:hover>.gt-spc{
	opacity: 1;
	visibility: visible;

	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
}
.trtk-ul .tktmk-li .ttkd-subm{
	padding: 8px 0;
	position: relative;

	background-color: #fff;
	border-top: 2px solid #dd4c3d;

    box-shadow: 0px 3px 13px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 3px 13px rgba(0,0,0,0.09);
}
.trtk-ul .tktmk-li .bt-slt-li{
	position: relative;
	display: block;
}
.trtk-ul .tktmk-li .bt-slt-li .hytd-a{
	display: block;
	padding: 6px 15px;
}
.trtk-ul .tktmk-li .bt-slt-li:hover>.hytd-a{
	color: #fff;
	background-color: #f27568;
}
.trtk-ul .tktmk-li .bt-slt-li .hytd-a .grr-i{
	float: left;

	font-size: 16px;
}
.trtk-ul .tktmk-li .bt-slt-li i.grr-i{
	display: none;
}
.trtk-ul .tktmk-li.parent>.fkki-a i.grr-i,
.trtk-ul .tktmk-li .bt-slt-li.parent>.hytd-a i.grr-i{
	display: inline-block;
	margin-right: 5px;
}
.trtk-ul .tktmk-li .gt-spc .gt-spc{
	top: 0;
	right: 100%;
	padding-top: 0;
}
.trtk-ul .tktmk-li .gt-spc .gt-spc .ttkd-subm{
	padding: 0;
}
.trtk-ul .tktmk-li .gt-spc .gt-spc .ttkd-subm:after{
	display: none;
}




.krtrt-mg-nav-h{
	position: relative;
}
.trtk-ul .tktmk-li .tktot-nav{
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -10px;
	padding-top: 10px;
	top: 100%;
	z-index: 40;

    opacity: 0;
    visibility: hidden;

	transform: translateY(15px);
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-o-transform: translateY(15px);
}
.trtk-ul .tktmk-li .tktot-nav .tgltg-spc{
	background-color: #fff;

    box-shadow: 0px 3px 13px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 3px 13px rgba(0,0,0,0.09);
}
.trtk-ul .tktmk-li:hover .tktot-nav{
    opacity: 1;
    visibility: visible;

	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
}
.trtk-ul .tktot-nav .ttkt-img-h{
	width: 280px;
	float: left;
}
.trtk-ul .tktot-nav .ttkt-img-h img{
	display: block;
}
.trtk-ul .tktot-nav .tmktt-cl-h{
	margin-left: 280px;
	margin-right: 20px;
}
.trtk-ul .tmktt-cl-h .njtt-cl{
	width: 33.33333%;
	float: right;
}
.trtk-ul .njtt-cl .tktd-spc{
	position: relative;
	margin: 25px 10px 25px 0;
    padding-right: 20px;

    background-image: url("../img/common/nav-col-bullet.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.trtk-ul .njtt-cl .tktd-spc:before{
	width: 1px;
	position: absolute;
	right: 10px;
	top: 20px;
	bottom: 0;
	content: ' ';

	background-color: #ebebeb;
}
.trtk-ul .njtt-cl .tktd-spc .mrktt-hl{
	margin-right: 10px;

	color: #ea6356;
	font-size: 14px;
}
.trtk-ul .njtt-cl .tktd-spc .ktkt-ul{
	max-height: 230px;
	overflow: auto;
	margin: 15px 10px;
}
.trtk-ul .njtt-cl .tktd-spc .ktkt-ul li{
	/*margin-bottom: 8px;*/
}
.trtk-ul .njtt-cl .tktd-spc .ktkt-ul li a{
	/*display: block;*/
	padding: 4px 0;

	line-height: 20px;
	color: #858585;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.trtk-ul .njtt-cl .tktd-spc .ktkt-ul li a:hover{
	color: #72c7ff;
}

/*----------navigation----------*/














/*
 *
 *	RESET MOBILE NAV PLUGIN
 *
 *	break point : 1200
 *	--- html		=>		<ul class="flexnav" data-breakpoint="1200"
 *	--- plugin css	=>		@media all and (min-width: 1200px) {
 *
 */
.tgf-m-nav-holder{
    width: 150px;
    position: absolute;
    /*right: 0;
    top: 0;*/
    line-height: 1.3em;

	display: none;
}
.flexnav.flexnav-show{
	min-width: 315px;
    max-height: 350px;
    overflow: auto;
}
.flexnav li a{
	padding: 16px;
}
.menu-button{
    padding: 11px 17px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #353535;
    color: #a7a7a7;
}
.menu-button .touch-button{
    width: 39px;
    height: 39px;
    left: 0;
    right: auto;
}
.menu-button .touch-button .navicon{
	top: 11px;

    color: #a2a2a2;
    font-size: 12px;
}
.flexnav .touch-button{
	right: auto;
	left: 0;
}
.flexnav .touch-button .navicon{
    color: #949494;
}
.flexnav li a{
    background: #efefef;
}
.flexnav .touch-button{
    background: rgba(0, 0, 0, 0.05);
}
.flexnav li a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.flexnav li ul li a {
    background: #e2e2e2;
}
.flexnav ul li ul li a {
    background: #d4d3d3;
}
/*----------RESET MOBILE NAV PLUGIN----------*/











/*----------MINI MOBILE NAV----------*/
.tgf-m-nav-holder.fkte-mini-nav{
	width: 120px;
	right: 0;
	top: 2px;
}
.tgf-m-nav-holder.fkte-mini-nav .menu-button{
    padding: 9px 13px;

    font-size: 11px;
}
.tgf-m-nav-holder.fkte-mini-nav .menu-button .touch-button {
    width: 35px;
    height: 35px;
}
/*----------MINI MOBILE NAV----------*/











/*----------ORG MOBILE NAV----------*/
.tgf-m-nav-holder.fkte-org-nav {
    width: 160px;
    right: 0;
    top: 5px;
}
.tgf-m-nav-holder.fkte-org-nav .menu-button{
    font-size: 12px;
    color: #ffffff;

    background-color: #525252;
}
.tgf-m-nav-holder.fkte-org-nav .menu-button .touch-button .navicon{
    color: #f5f5f5;
}
/*----------ORG MOBILE NAV----------*/











/*----------main image----------*/
.dkvlrg-simg{
	height: 820px;
	position: relative;
}
.rlgf-bimg{
	width: 1920px;
	height: 820px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -410px;
	margin-left: -960px;
	z-index: 1;
}
.rlgf-bimg:after{
	height: 35px;
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	background-image: url("../img/common/m-img-curve.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.rlgf-bimg img.rfflg-ggkm{
	width: 100%;
	display: block;
}




.dfdep-sspo{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

.dfdep-sspo .dvvfgp-cc{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
}
.dfdep-sspo .glkfgr-cont{
}
.dfdep-sspo .glkfgr-cont .gfkt-ttdl{
	width: 700px;
	margin-top: 280px;

	background-color: rgba(0,0,0,0.75);

	/*height: 460px;*/
}
.dfdep-sspo .glkfgr-cont .fklf-spc{
	padding: 25px;
}






.dlgf-head{
	margin-right: 20px;

	border-bottom: 1px solid rgba(255,255,255,0.15);
}
.dlgf-head .fgfl-vv{
	display: inline-block;
	padding-bottom: 5px;
	margin-right: -20px;
	position: relative;

	font-size: 16px;
	color: #fff;
}
.dlgf-head .fgfl-vv:before{
	content: ' ';
	position: absolute;
	left: 0;
	right: 18px;
	bottom: -1px;

	height: 1px;
	background-color: #47e189;
}
.dlgf-head .fgfl-vv:after{
	width: 22px;
	height: 7px;
	content: ' ';
	position: absolute;
	right: 0;
	bottom: -3px;

	background-image: url("../img/common/dlgf-h-bullet-green.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.fgfl-vv-h2{
	font-size: 14px !important;
	font-weight:bold;
}


.dlgf-head.dh-dark-text{
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.dlgf-head.dh-dark-text .fgfl-vv{
	color: #333;
}



.dlgf-head.dh-blue-color .fgfl-vv:before{
	background-color: #3498db;
}
.dlgf-head.dh-blue-color .fgfl-vv:after{
	background-image: url("../img/common/dlgf-h-bullet-blue.png");
}








.dfdep-sspo .rfkf-scte{
	margin-top: 20px;

	color: #fff;
	font-size: 12px;
	line-height: 2em;
}
.dfdep-sspo .rfkf-scte.kfdf-summary{
	display: none;
}
.dfdep-sspo .rfkf-scte .vl-svt{
	margin: 20px 15px;
}
.dfdep-sspo .rfkf-scte .vl-svt li{
	margin-bottom: 5px;
}
.dfdep-sspo .rfkf-scte .vl-svt li i{
	margin-left: 5px;

	color: #47e189;
}
.dfdep-sspo .vl-scctt{
	margin-top: 30px;

	text-align: left;
}




.dfld-ss,
.dfld-ss #particles-js{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.dfld-ss{
	z-index: 1;
}
/*----------main image----------*/








/*----------COMMON LINEAR HEAD----------*/
.common-linear-head{
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.common-linear-head .cm-lh-title{
	display: inline-block;
	padding-bottom: 5px;
	position: relative;

	font-size: 16px;
	color: #333;
}
.common-linear-head.cm-lh-mini .cm-lh-title{
	font-size: 13px;
}
.common-linear-head .cm-lh-title:before{
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;

	height: 1px;
	background-color: #3498db;
}
/*----------COMMON LINEAR HEAD----------*/









/*----------service section----------*/
.fkvlg-ddtei{
	padding-bottom: 70px;

	background-color: #fff;
}
.sfkf-ssk{
	margin-top: -45px;
	position: relative;
	z-index: 2;
}
.sfkf-ssk .fkft-trc{
	width: 25%;
	float: right;
}
.sfkf-ssk .fkft-trc .ldgrt-spc{
	margin: 0 10px;

    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.14);
}
.sfkf-ssk .flfg-img-rr{
	display: block;
	position: relative;
}
.sfkf-ssk .flfg-img-rr img{
	width: 100%;
	display: block;
}
.sfkf-ssk .flfg-img-rr .djri-shell{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	background-color: rgba(0,0,0,0.7);
}
.flfg-img-rr .djri-shell .ddf-sdd{
	position: absolute;
	height: 0;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -16px;

	text-align: center;
}
.flfg-img-rr .djri-shell .ddf-sdd .dvl-btn{
    padding: 4px 17px;
    display: inline-block;

    line-height: 24px;
	font-size: 12px;
	color: #fff;

	background-color: rgba(255,255,255,0.1);

	border-radius: 50px;
	-webkit-border-radius: 50px;
}



.fdgf-sccp{
	padding: 15px 20px 20px 20px;

	background-color: #fff;
}
.fdgf-sccp .flr-rt{
	display: block;

	color: #444343;
	font-size: 14px;
}
.fdgf-sccp .flr-rt:hover{
	color: #55b5f5;
}
.fdgf-sccp .dfl-cc{
	margin-top: 15px;

	font-size: 11px;
	line-height: 2em;
	color: #444343;
}
.fdgf-sccp .rgf-tls{
	margin-top: 15px;

	text-align: left;
}
/*----------service section----------*/











/*----------timer section----------*/
.dvdkt-timer{
	background: #243238;
    background: -webkit-linear-gradient(291deg,#607d8b,#243238 58%,#243238);
    background: -o-linear-gradient(291deg,#607d8b,#243238 58%,#243238);
    background: -moz-linear-gradient(291deg,#607d8b,#243238 58%,#243238);
    background: linear-gradient(291deg,#607d8b,#243238 58%,#243238);
}
.dflg-fssc{
}
.dflg-fssc .dgg-cls{
	float: right;
}
.dflg-fssc .dgg-cls.dld-ww{
	width: 35%;
}
.dflg-fssc .dgg-cls.dld-ss{
	width: 65%;
}
.dflg-fssc .dgg-cls .dgrf-spc{
	margin: 60px 10px;
}
.dflg-fssc .dgg-cls .ffogf-img-h{
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;

	border-radius: 50%;
	-webkit-border-radius: 50%;

	border: 3px solid transparent;

	box-shadow: 0 0 0 7px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 7px rgba(255,255,255,0.1);
}
.dflg-fssc .dgg-cls .ffogf-img-h img{
	width: 100%;
	display: block;
}
.dflg-fssc .dgg-cls .ffogf-img-h{
}
.dflg-fssc .dgg-cls .ffogf-img-h .sdle-shell{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	background-color: rgba(0,0,0,0.7);

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.ffogf-img-h .sdle-shell .flgf-svs{
	width: 70px;
	height: 70px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;

	line-height: 70px;
	text-align: center;
	font-size: 25px;
	color: #fff;

	background-color: rgba(255,255,255,0.1);

	border-radius: 50%;
	-webkit-border-radius: 50%;
}




.dflg-fssc .fdld-trim{
	margin-top: 30px;

	text-align: center;
}
.dflg-fssc .fdld-trim .fkl-ttls{
	margin: 0 80px;
	margin-top: 5px;
}
.dflg-fssc .fdld-trim .fkl-ttls .fdke-ss{
	width: 25%;
	display: block;
	float: right;

	color: rgba(255,255,255,0.65);
}




	/*---reset timer plugin---*/
.flip-clock-wrapper{
	width: auto !important;
    display: inline-block !important;
	margin: 0 !important;
}
.flip-clock-wrapper ul{
    width: 25px !important;
    height: 52px !important;
	margin: 0 !important;
}
.flip-clock-wrapper ul li{
    line-height: 53px !important;
}
.flip-clock-wrapper ul li a div div.inn{
	font-size: 29px !important;
	color: #fff !important;
}
.flip-clock-divider{
	width: 0 !important;
	height: 1px !important;
	margin: 0 3px !important;
	opacity: 0 !important;
}
.flip-clock-wrapper *{
	border-radius: 0 !important
}
	/*---reset timer plugin---*/






.fl-eedssl-s{
	color: #fff;
	font-size: 22px;
}
.fl-eedssl-s span{
	color: #2ecc71;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.fl-eedssl-s a:hover{
	color: #57bcff;
}
.fl-eedssl-s a:hover span{
	color: #57bcff;
}
.fkff-ss{
	margin-top: 8px;

	color: rgba(255,255,255,0.5);
	font-size: 14px;
}


.fkf-ssdvv{
	margin-top: 15px;
	position: relative;

	text-align: left;
}
.fkf-ssdvv:before{
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	content: ' ';

	background-color: rgba(255,255,255,0.1);
}
.fkf-ssdvv .common-tag-link{
	margin-right: 15px;
}


.dgg-cls .dfkdkrr-ss{
	margin-top: 20px;

	color: #e1e1e1;
	font-size: 12px;
	line-height: 2em;
}

.ktrd-tlss{
	margin-top: 20px;

	text-align: left;
}
/*----------timer section----------*/














/*----------common effect----------*/
.common-self-effect.cse-fade{
	opacity: 0;
}
.common-self-effect.cse-fade:hover{
	opacity: 1;
}




.common-effect-parent.ce-scale .common-effect-elem{
	opacity: 0;
	visibility: hidden;

	transform: scale(2);
}
.common-effect-parent:hover .common-effect-elem{
	opacity: 1;
	visibility: visible;

	transform: none;
}
/*----------common effect----------*/












/*----------common tag link----------*/
.common-tag-link{
	height: 40px;
	padding: 0 15px;
	position: relative;
	display: inline-block;
	z-index: 1;

	line-height: 37px;
	color: #fff;
	font-size: 12px;

	background-color: #3498db;
}
.common-tag-link:before,
.common-tag-link:after{
	position: absolute;
	left: 100%;
	content: ' ';
}
.common-tag-link:before{
	top: 0;

	border-top: 20px solid #3498db;
	border-right: 15px solid transparent;
}
.common-tag-link:after{
	bottom: 0;

	border-bottom: 20px solid #3498db;
	border-right: 15px solid transparent;
}
.common-tag-link .ctl-frw-triangle{
	width: 0;
	height: 0;
	position: absolute;
	right: 100%;
	top: 0;

	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 15px solid #3498db;
}





/*---green---*/
.common-tag-link.ctl-green{
	background-color: #2ecc71;
}
.common-tag-link.ctl-green:before{
	border-top-color: #2ecc71;
}
.common-tag-link.ctl-green:after{
	border-bottom-color: #2ecc71;
}
.common-tag-link.ctl-green .ctl-frw-triangle{
	border-right-color: #2ecc71;
}
/*---green---*/


/*----------common tag link----------*/









/*----------video block----------*/
.fler-errgr{
	background-image: url("../img/common/video-bl-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.fler-errgr .dfvf-dssd{
	padding: 60px 0;
}
.fler-errgr .dfvf-dssd .gflf-cl{
	float: right;
}
.fler-errgr .dfvf-dssd .gflf-cl.fdle-ee,
.fler-errgr .dfvf-dssd .gflf-cl.fdle-ww{
	width: 50%;
}


.fler-errgr .fl-eedssl-s{
	color: #2e2e2e;
}
.fler-errgr .fl-eedssl-s span{
	color: #3498db;
}
.fler-errgr .fkff-ss{
	color: rgba(0,0,0,0.4);
}


.fler-errgr .lrre-ced{
	margin-top: 20px;

	color: #161616;
	line-height: 2em;
}

.fglk-tlss{
	margin-top: 20px;
}
.fglk-tlss .common-button{
	float: left;
}
.fler-errgr .dfvf-dssd .gflf-cl .fddg-spc{
	margin: 0 10px;
}


.flf-ssccp{
	position: relative;

    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.12);
}
.flf-ssccp .flowplayer{
	display: block !important;
}
.flf-ssccp .afklf-fee{
	width: 165px;
	height: 125px;
	position: absolute;
	left: -7px;
	top: -26px;
	z-index: 2;

	text-align: center;

	background-repeat: no-repeat;
	background-image: url("../img/common/fantasy-label.png");
	background-size: 100%;
}
.flf-ssccp .afklf-fee .fldsd-ds,
.flf-ssccp .afklf-fee .fldscs-ww{
	position: absolute;
	left: 0;
	right: 0;

	color: #fff;
}
.flf-ssccp .afklf-fee .fldsd-ds{
	top: 24px;
	margin-right: 14px;

	font-size: 37px;
}
.flf-ssccp .afklf-fee .fldscs-ww{
	bottom: 10px;
	margin-right: 14px;

	font-size: 14px;
}


.flf-ssccp .flgfs-slrr{
	background-color: #f5f5f5;
}
.flf-ssccp .flgfs-slrr .dfmkg-cl{
	width: 50%;
	float: right;

	font-size: 12px;
}
.flf-ssccp .flgfs-slrr .dfmkg-cl i:before{
	vertical-align: middle;
}
.flf-ssccp .flgfs-slrr .dfmkg-cl.dld-ee{
	text-align: right;
}
.flf-ssccp .flgfs-slrr .dfmkg-cl.dld-ww{
	text-align: left;
}
.flf-ssccp .flgfs-slrr .dfmkg-cl .fkf-spc{
	padding: 20px;
}
.flgfs-slrr .dfmkg-cl .lfd-title{
	color: #b9b9b9;
}
.flgfs-slrr .dfmkg-cl .dlf-value{
	margin-right: 5px;

	color: #5db7f2;
}
/*----------video block----------*/











/*----------flowplayer reset----------*/
.flowplayer{
	max-width: 100%;
	direction: ltr;

	background-color: #000 !important;
}
.flowplayer *{
	font-family: Arial,Helvetica,Tahoma,Verdana,Sans-Serif !important;
	font-style: normal !important;
}
.fp-embed{
	display: none !important;
}
.is-splash.flowplayer .fp-ui,
.is-paused.flowplayer .fp-ui{
	background-image: url("../img/common/player-button.png") !important;
	background-color: rgba(0,0,0,0.6) !important;
}
/*----------flowplayer reset----------*/












/*----------star rate----------*/
.common-star-rate{
	direction: ltr;
}
.common-star-rate i{
}
/*----------star rate----------*/











/*----------circular service----------*/
.gflf-circ-serv{
	overflow: hidden;

	background-color: #2b2b2b;
}
.gflf-circ-serv .dfl-cont{
	height: 580px;
	position: relative;
}
.gflf-circ-serv .dfdls-spc{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.gflf-circ-serv .dfdls-spc:before{
	position: absolute;
	left: -100px;
	top: -100px;
	bottom: 0;
	right: -100px;
	content: ' ';

	background-image: url("../img/common/circular-back-img.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl{
	width: 195px;
	position: absolute;
	float: right;
	z-index: 1;

	text-align: center;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-1{
    top: 150px;
    right: 0;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-2{
    top: 130px;
    right: 290px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-3{
    left: 385px;
    top: 190px;
}
.gflf-circ-serv .dfdls-spc .gfkf-miid-cl.flkgb-i-4{
	width: 280px;
    left: 0;
    top: 108px;
}
.gflf-circ-serv .dfdls-spc .fklgf-img-h{
	overflow: hidden;
	position: relative;

	border-radius: 50%;
	-webkit-border-radius: 50%;

    border: 3px solid transparent;

    box-shadow: 0 0 0 3px rgba(255,255,255,0.1);
    -webkit-box-shadow: 0 0 0 3px rgba(255,255,255,0.1);
}
.gflf-circ-serv .dfdls-spc .fklgf-img-h:hover{
    box-shadow: 0 0 0 3px rgba(52, 152, 219,1.0);
    -webkit-box-shadow: 0 0 0 3px rgba(52, 152, 219,1.0);
}
.gflf-circ-serv .dfdls-spc .fklgf-img-h img{
	width: 100%;
	display: block;
}
.gflf-circ-serv .fklgf-img-h .ffkr-shell{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

    background-color: rgba(0,0,0,0.7);

    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.gflf-circ-serv .fklgf-img-h .ffkr-shell .gvkf-sov{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;

    line-height: 60px;
    text-align: center;
    font-size: 22px;
    color: #fff;

    background-color: rgba(255,255,255,0.1);

    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.gflf-circ-serv .dfdls-spc .gffls-cc{
	margin-top: 20px;

	color: #fff;
	font-size: 14px;
}
.gflf-circ-serv .dfdls-spc .gffls-cc a:hover{
	color: rgba(52, 152, 219,1.0);
}
.gflf-circ-serv .dfdls-spc .afkg-fsc{
    margin-top: 10px;

	color: #c8c8c8;
    font-size: 10px;
    line-height: 2em;
}
/*----------circular service----------*/
















/*----------panel comment----------*/
.dlfg-usr-cmnt{
	background-color: #f7f7f7;
}
.dlfg-usr-cmnt .tofd-cont{
	padding: 50px 0;
}
.dlfg-usr-cmnt .fkf-soc{
	position: relative;
}
.dlfg-usr-cmnt .fkf-soc .fkdd-ccl{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;

	text-align: center;
	line-height: 60px;
	font-size: 33px;
	color: #bbb;

	cursor: pointer;
}
.dlfg-usr-cmnt .fkf-soc .fkdd-ccl:hover{
	color: #333;
}
.dlfg-usr-cmnt .fkf-soc .fkdd-ccl.kfg-prev{
	right: -60px;
}
.dlfg-usr-cmnt .fkf-soc .fkdd-ccl.kfg-next{
	left: -60px;
}
.cmnt-slider .ds-item{
	width: 50%;
}
.cmnt-slider .dckd-spc{
	margin: 0 10px;
}



.lpeg-img-cl{
	width: 150px;
	float: right;
}
.lpeg-img-cl .sdr-img-h{
	margin: 10px 15px;

	border: 3px solid transparent;

	border-radius: 50%;
	-webkit-border-radius: 50%;

	box-shadow: 0 0 0 3px rgba(96,188,249,0.25);
	-webkit-box-shadow: 0 0 0 3px rgba(96,188,249,0.25);
}
.lpeg-img-cl .sdr-img-h img{
	width: 100%;
	display: block;
}
.fkfd-cdg{
	margin-right: 150px;
	padding-top: 13px;
}
.fkfd-cdg .fkf-scc{
}
.fkfd-cdg .fkf-scc .fkf-frd{
	color: #686868;
}
.fkfd-cdg .fkf-scc .hdr-ggd{
	margin-top: 5px;

	color: #a0a0a0;
	font-size: 11px;
}
.fkfd-cdg .fkf-scc .fvkf-vvfkd{
	padding: 15px 20px;
	margin-top: 15px;
	position: relative;

	color: #343434;
	font-size: 12px;
	line-height: 1.7em;

	background-color: #ebebeb;

	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.fkfd-cdg .fkf-scc .fvkf-vvfkd:before{
	width: 0;
	height: 0;
	content: ' ';
	position: absolute;
	bottom: 100%;
	right: 20px;

	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ebebeb;
}
/*----------panel comment----------*/












/*----------footer----------*/
.fkf-footer{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../img/common/footer-bg.jpg');
}
.fkf-footer .fkfg-cont{
}
.fkf-footer .dfdkf-cl-h{
}
.fkf-footer .dfdkf-cl-h .gflfd-cl{
	width: 25%;
	float: right;

	color: rgba(255,255,255,0.6);
}
.fkf-footer .gflfd-cl .kffg-spc{
	padding: 40px 10px;
}
.fkf-footer .gflfd-cl .fkf-ccgrw{
	color: #fff;
	font-size: 16px;
}
.fkf-footer .gflfd-cl .fkfg-c-ul{
	margin-top: 20px;
}
.fkf-footer .gflfd-cl .fkfg-c-ul li{
}
.fkf-footer .gflfd-cl .fkfg-c-ul li a{
	padding: 7px 0;

	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.fkf-footer .gflfd-cl .fkfg-c-ul li a:hover{
	color: #fff;
}
.fkf-footer .gflfd-cl .dlf-fgg-ul{
	margin-top: 20px;
}
.fkf-footer .gflfd-cl .dlf-fgg-ul li{
	padding: 7px 0;
}
.fkf-footer .gflfd-cl .dlf-fgg-ul li a:hover{
	color: rgba(52, 152, 219,1.0);
}
.fkf-footer .gflfd-cl .dlf-fgg-ul li i{
	margin-left: 10px;
}
.fkf-footer .gflfd-cl .fkvf-ffvb-txt{
	margin-top: 20px;
	padding-top: 20px;

	font-size: 11px;

	border-top: 1px solid rgba(255,255,255,0.15);
}
/*----------footer----------*/











/*----------footer bar----------*/
.dmkfd-m-footer{
	background-color: #191919;
}
.dmkfd-m-footer .fvkf-spcc{
	padding: 17px 0;

	line-height: 31px;
	color: #525151;
	font-size: 12px;
}
.dmkfd-m-footer .fvkf-spcc .gfdf-ccp{
}
/*----------footer bar----------*/








/*----------LOGIN POPUP----------*/
.fkfg-lgn-pup{
}
.fkfg-lgn-pup .fkf-fv-cnt{
	width: 360px;
	height: 390px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -180px;
	margin-top: -195px;
}
.fkfg-lgn-pup.on-ground{
	padding: 80px 0;
}
.fkfg-lgn-pup.on-ground .krrd-cont{
	width: 360px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.fkfg-lgn-pup .fkf-rvvr{
	position: relative;

	background-color: #fff;

	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
}
.fkfg-lgn-pup .fkf-rvvr .ddet-spc{
	padding: 15px 25px;
}
.fdkr-rdsc{
	margin-top: 15px;
	padding-bottom: 25px;

	border-bottom: 1px dashed #e0e0e0;
}
.fdkr-rdsc.no-border{
	padding-bottom: 0;

	border-bottom: none;
}
.fdkr-rdsc .fdss-rw{
	margin-top: 15px;
}

.fdkr-rdsc .fdss-rw .frm-err-h{
    margin-top: 6px;

	font-size: 11px;
	color: #e85242;
}

.ddet-spc .fkyf-rr{
	padding: 20px 0;
	padding-bottom: 0;

	color: #424242;
	font-size: 12px;
}
.ddet-spc .fkyf-rr .krrd-dt{
	margin-bottom: 7px;
	display: block;
}
.ddet-spc .fkyf-rr .krrd-dt .fkrr-ddc{
	margin-left: 3px;
	vertical-align: middle;
}
.ddet-spc .fkyf-rr a.fkr-ectg{
	color: #72c4fb;
}
.ddet-spc .fkyf-rr a.fkr-ectg:hover{
	color: #5ba9de;
}


.fkfg-lgn-pup .kft-tls{
	padding: 20px 25px;

	background-color: #ededed;

	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
.fkfg-lgn-pup.on-ground .kft-tls{
	background-color: #fff;
	border-top: 1px solid #ececec;
}
.fkfg-lgn-pup .kft-tls .common-button{
	font-size: 11px;
}
.fkfg-lgn-pup .kft-tls .fkew-rght{
	float: right;
}
.fkfg-lgn-pup .kft-tls .fkew-lft{
	float: left;
}
/*----------LOGIN POPUP----------*/










/*----------COMMON CLOSE BUTTON----------*/
.common-close-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 10;

    color: #969696;
    text-align: center;
    line-height: 30px;
    font-size: 14px;

    background-color: #f2f2f2;
    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.common-close-btn:hover{
    color: #fff;

    background-color: #ff9e94;
}
/*----------COMMON CLOSE BUTTON----------*/










/*----------COMMON POPUP----------*/
.common-popup{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999999;

	background-color: rgba(0,0,0,0.75);

	opacity: 0;
	visibility: hidden;
}
.common-popup .common-popup-cont{
	transform: scale(0.7) translateY(200px);
	-webkit-transform: scale(0.7) translateY(200px);
	-moz-transform: scale(0.7) translateY(200px);
	-o-transform: scale(0.7) translateY(200px);
}

.common-popup.cpp-show{
	opacity: 1;
	visibility: visible;
}
.common-popup.cpp-show .common-popup-cont{
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
}
/*----------COMMON POPUP----------*/











/*----------FORM ELEMENTS----------*/
.frm-el-inpt{
	width: 100%;
	height: 40px;
	padding: 0 15px;

	background-color: #f2f2f2;

	box-shadow: inset 1px 1px 0 #d9d9d9;
	-webkit-box-shadow: inset 1px 1px 0 #d9d9d9;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.frm-el-inpt.fei-white{
	background-color: #fff;
}
.frm-el-inpt:focus{
	box-shadow: inset 0 0 0 1px #72c4fb;
	-webkit-box-shadow: inset 0 0 0 1px #72c4fb;
}
.frm-el-inpt.frm-el-err{
	box-shadow: inset 0 0 0 1px #ff8679;
	-webkit-box-shadow: inset 0 0 0 1px #ff8679;
}


textarea.frm-el-inpt{
	resize: none;
	min-height: 200px;
	padding: 15px;
}
/*----------FORM ELEMENTS----------*/









/*----------NEWSLETTER POPUP----------*/
.gkl-dtte{
}
.gkl-dtte .feld-cnt{
	width: 930px;
	height: 540px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -465px;
	margin-top: -270px;
}
.gkl-dtte .mkf-scsc{
	height: 540px;
	position: relative;
}
.gkl-dtte .mkf-scsc .klfg-lft{
	width: 280px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	background-image: url("../img/common/nw-ltt-left.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}
.gkl-dtte .klfg-lft .gfk-img-h{
	width: 204px;
	height: 204px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -102px;
	margin-top: -102px;

	box-shadow: 0 0 0 5px rgba(255,255,255,0.35);
	-webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0.35);

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.gkl-dtte .klfg-lft .gfk-img-h img{
	width: 100%;
	display: block;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.gkl-dtte .klfg-lft .gfk-img-h .lds-shell{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

    background-color: rgba(0,0,0,0.7);

    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.gkl-dtte .gfk-img-h .lds-shell .flgf-svs{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;

    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #fff;

    background-color: rgba(255,255,255,0.1);

    border-radius: 50%;
    -webkit-border-radius: 50%;
}


.gkl-dtte .klfg-lft .gfkvf-str{
	position: absolute;
	left: -6px;
	top: 55px;
	right: 0;

	text-align: left;
}
.gkl-dtte .klfg-lft .gfkvf-str .fkl-3d3{
	padding: 5px 15px;
	padding-left: 30px;
	display: inline-block;

	line-height: 34px;
	color: #1e1e1e;
	font-size: 17px;

	background-color: #ffffff;
}
.gkl-dtte .klfg-lft .gfkvf-str .rtg-tdl{
	padding: 7px 15px;
	padding-left: 30px;
	display: inline-block;
	margin-top: 10px;

	color: #fff;
	font-size: 14px;

	background-color: #2980b9;
}


.gkl-dtte .flf-rght{
	position: absolute;
	left: 280px;
	right: 0;
	top: 0;
	bottom: 0;

	background-image: url("../img/common/nw-ltt-right.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
}
.gkl-dtte .flf-rght .common-popup-cls-btn{
	display: none;
}
.gkl-dtte .flf-rght .flfs-scp{
	padding: 30px;
}
.gkl-dtte .flf-rght .flfer-ssc{
	margin-top: 20px;

	line-height: 2em;
}
.gkl-dtte .flf-rght .flfer-ssc.flfer-kferr-summary{
	display: none;
}
.gkl-dtte .flf-rght .gflf-tls{
	margin-top: 30px;
}
.gkl-dtte .gflf-tls .fkr-dd,
.gkl-dtte .gflf-tls .kffe-scs{
	float: right;
}
.gkl-dtte .gflf-tls .fkr-dd{
	width: 67%;
}
.gkl-dtte .gflf-tls .fkr-dd .frm-el-inpt{
}
.gkl-dtte .gflf-tls .kffe-scs{
	width: 33%;

	text-align: left;
}
.gkl-dtte .gflf-tls .kffe-scs .common-button{
	display: inline-block;

	font-size: 12px;
	text-align: right;
}
/*----------NEWSLETTER POPUP----------*/











/*----------HEADER IMAGE----------*/
.kr-ddhrr-ss{
	position: relative;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.kr-ddhrr-ss .fker-edge{
	height: 25px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;

	background-image: url("../img/common/header-img-edge.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.kr-ddhrr-ss .fkre-sc-cont{
	position: relative;
	height: 300px;
}
.kr-ddhrr-ss .rlpr-brd-crm{
	width: 850px;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;

	background-image: url("../img/common/bread-crumb.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.kr-ddhrr-ss .ldkie-ccl{
	position: absolute;
    left: 14px;
    bottom: 9px;
	z-index: 4;

	font-size: 12px;
	color: #7a7a7a;
}
.kr-ddhrr-ss .ldkie-ccl li{
	float: right;
}
.kr-ddhrr-ss .ldkie-ccl li a{
	padding: 3px 10px;
}
.kr-ddhrr-ss .ldkie-ccl li a:hover{
	color: #333;
}
.kr-ddhrr-ss .ldkie-ccl li i{
	color: #a6a6a6;
}
.kr-ddhrr-ss .ldkie-ccl li:last-of-type i{
	display: none;
}
/*----------HEADER IMAGE----------*/









/*----------PROFILE BLOCK----------*/
.dke-rdkd-rk3{
}
.dke-rdkd-rk3 .fdlt-cont{
	padding: 40px 0;
}
.dke-rdkd-rk3 .kdsf-spc{
}
.dke-rdkd-rk3 .ndk-nav{
	width: 280px;
	float: right;
}
.dke-rdkd-rk3 .ndk-nav li{
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 10px;

	font-size: 12px;

	background-color: rgba(255,255,255,0.6);
}
.dke-rdkd-rk3 .ndk-nav li,
.dke-rdkd-rk3 .ndk-nav li a,
.dke-rdkd-rk3 .ndk-nav li .dkd-icon{
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.dke-rdkd-rk3 .ndk-nav li:hover,
.dke-rdkd-rk3 .ndk-nav li.rksd-current{
	margin-left: 0;
	margin-right: 0;

	background-color: rgba(255,255,255,1);
}
.dke-rdkd-rk3 .ndk-nav li.rksd-current{
	border-right: 3px solid #55b5f5;
}
.dke-rdkd-rk3 .ndk-nav li a{
	padding: 12px 18px;
	display: block;

	color: #31383f;
	opacity: 0.6;
}
.dke-rdkd-rk3 .ndk-nav li:hover a,
.dke-rdkd-rk3 .ndk-nav li.rksd-current a{
	opacity: 1;
}
.dke-rdkd-rk3 .ndk-nav li.dkkd-logout a{
	color: #cd685d;
}
.dke-rdkd-rk3 .ndk-nav li .dkd-icon{
	margin-left: 5px;

	color: #777d84;
}
.dke-rdkd-rk3 .ndk-nav li.dkkd-logout .dkd-icon{
	color: #e1776d;
}



.dke-rdkd-rk3 .ndk-nav li .dkd-not{
	float: left;
	padding: 0 8px;
	margin-top: 13px;
	margin-left: 10px;

	border-radius: 50px;
	-webkit-border-radius: 50px;

	color: #fff;
	font-size: 11px;

	background-color: #f1c40f;
}
.dke-rdkd-rk3 .ndk-nav li .dkd-not.red{
	background-color: #ff6262;
}
.dke-rdkd-rk3 .ndk-nav li .dkd-not.blue{
	background-color: #64c1fd;
}



.dke-rdkd-rk3 .ndk-cont{
	margin-right: 280px;
	min-height: 400px;

	background-color: #fff;

    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05);
}
.dke-rdkd-rk3 .ndk-cont .fldfd-spc{
}
.dke-rdkd-rk3 .fldfd-spc .fksd-t-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.dke-rdkd-rk3 .fksd-t-img .ddkf-sccp{
}
.dke-rdkd-rk3 .fksd-t-img .fkd-tf{
	padding: 25px 0;
}
.dke-rdkd-rk3 .fksd-t-img .fkd-tf .fkmd-iggg{
	padding: 5px 10px;
	display: inline-block;
	margin-right: 30px;
	position: relative;

	color: #3b384c;
	font-size: 13px;

	background-color: #fff;
}
.dke-rdkd-rk3 .fksd-t-img .fkd-tf .fkmd-iggg:before{
	width: 30px;
	height: 1px;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -0.5px;
	content: ' ';

	background-color: #fff;
}
.dke-rdkd-rk3 .fksd-t-img .fkd-tf .fkmd-iggg i{
	margin-left: 5px;
}

.dke-rdkd-rk3 .fle-ds-spc{
	padding: 25px;
}
.dke-rdkd-rk3 .fle-ds-spc .jrid-desc{
	margin-bottom: 20px;
}



.fkrd-vvt{
	position: relative;
	margin-top: 30px;

	padding: 10px 0;
}
.fkrd-vvt:before{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 55%;
	content: ' ';

	border-right: 1px dashed #dcdcdc;
}
.fkrd-vvt .flff-btrr{
	float: right;
}
.fkrd-vvt .flff-btrr.rkrd-vv{
	width: 55%;
}
.fkrd-vvt .flff-btrr.rkrd-rr{
	width: 45%;
}


.fkrd-vvt.col-same .flff-btrr.rkrd-vv,
.fkrd-vvt.col-same .flff-btrr.rkrd-rr{
	width: 50%;
}
.fkrd-vvt.col-same:before{
	right: 50%;
}


.fkrd-vvt .flff-btrr.rkrd-vv .dkre-spc{
	margin-left: 20px;
}
.fkrd-vvt .flff-btrr.rkrd-rr .dkre-spc{
	margin-right: 20px;
}


.fkrd-vvt .flff-btrr .fkldfd-dss{
}
.fkrd-vvt .flff-btrr .fkldfd-dss.fkd-spc-top{
	margin-top: 20px;
}
.fkrd-vvt .flff-btrr .fkldfd-dss .tld-drl-tls{
	margin-top: 20px;
}
.fkrd-vvt .fkldfd-dss .tld-drl-tls .inp-h-row{
	margin-bottom: 10px;
}
.fkrd-vvt .fkldfd-dss .tld-drl-tls .inp-h-row:last-of-type{
	margin-bottom: 0;
}





.fkrd-factor{
	padding: 20px 15px;

	font-size: 12px;

	box-shadow: 0 0 0 1px #e7e7e7;
	-webkit-box-shadow: 0 0 0 1px #e7e7e7;

	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.fkrd-factor .kdf-row{
	overflow: auto;

	background-image: url("../img/common/dott.png");
	background-repeat: repeat-x;
	background-position: center;
}
.fkrd-factor .kdf-row:not(:last-of-type){
	margin-bottom: 7px;
}
.fkrd-factor .kdf-row .ke-drrr-tt{
	background-color: #fff;
}
.fkrd-factor .kdf-row .ke-drrr-tt.dkrd-label{
	float: right;
	padding: 1px 7px;

	color: #adadad;
}
.fkrd-factor .kdf-row .ke-drrr-tt.dkrd-value{
	float: left;
	padding: 1px 7px;

	color: #3b444c;
}
.fkrd-factor .kdf-row .ke-drrr-tt.color{
	color: #fff;

	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.fkrd-factor .kdf-row .ke-drrr-tt.blue{
	background-color: #6fb8e9;
}
.fkrd-factor .kdf-row .ke-drrr-tt.gray{
	background-color: #cdcdcd;
}
.fkrd-factor .kdf-row .ke-drrr-tt.green{
	background-color: #47e189;
}
.fkrd-factor .kdf-row .ke-drrr-tt.red{
	background-color: #f25c4d;
}



.fkrd-factor .kdf-row .ke-drrr-tt.input-h{
	max-width: 180px;
	padding-left: 0;
}
.fkrd-factor .kdf-row .frm-el-inpt{
	height: 30px;
}



.lrxt-tls{
	margin-top: 20px;

	text-align: left;
}
/*----------PROFILE BLOCK----------*/










/*----------COMMON TABLE----------*/
.common-tbl{
	width: 100%;
}
.common-tbl i{
	font-style: normal;
}
.common-tbl thead th{
	color: #c1c1c1 !important;
	font-size: 12px;
}
.common-tbl.c-tbl-gray tr td{
	background-color: #f2f2f2 !important;
}
.common-tbl.c-tbl-gray tr.c-tbl-active td{
	position: relative;

	background-color: #fff !important;
}
.common-tbl.c-tbl-gray tr.c-tbl-active td:first-of-type:before{
	width: 4px;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	content: ' ';

	background-color: #4ca7e4;
}
.common-tbl tr td a{
	color: #555555 !important;

	border: none !important;
}
.common-tbl tr td a:hover{
	color: #4ca7e4 !important;
}
/*----------COMMON TABLE----------*/









/*----------PROFILE MIDDLE----------*/
.fkrf-sc-cls{
	overflow: auto;
	padding-bottom: 20px;
}
.fkrf-sc-cls .kffg-img-h{
	width: 160px;
	float: right;
}
.fkrf-sc-cls .kffg-img-h .kd-img-box{
	position: relative;
	margin: 10px 15px;
	padding: 3px;

	border-radius: 50%;
	-webkit-border-radius: 50%;

    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.18);
}
.fkrf-sc-cls .kffg-img-h .kd-img-box img{
	width: 100%;
	display: block;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.fkrf-sc-cls .kffg-img-h .kd-img-box .kfdf-shell{
	position: absolute;
	left: 3px;
	right: 3px;
	top: 3px;
	bottom: 3px;

	background-image: url("../img/common/dott-dark.png");

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.fkrf-sc-cls .kffg-img-h .dfkd-tls{
	margin-top: 10px;

	text-align: center;
}
.fkrf-sc-cls .kffg-img-h .dfkd-tls input{
	width: 0;
	opacity: 0;
	position: absolute;
}

.fkrf-sc-cls .dfkd-tls .fdglf-slct-label .kf-dgg-btn{
    padding: 3px 13px;
    position: relative;
    z-index: 2;

    color: #fff;
    font-size: 11px;

    border-radius: 50px;
    -webkit-border-radius: 50px;

    background-color: #ccc;
}
.fkrf-sc-cls .dfkd-tls .fdglf-slct-label.file-choosed .kf-dgg-btn{
    background-color: #5ab6f3;

    box-shadow: 0 0 8px 3px rgba(89, 180, 241, 0.29);
    -webkit-box-shadow: 0 0 8px 3px rgba(89, 180, 241, 0.29);
}
.fkrf-sc-cls .dfkd-tls .fdglf-slct-label .kf-dgg-btn i{
	margin-left: 5px;
}







.fkrf-sc-cls .kfc-ddgg-cnt{
    margin-right: 160px;
    padding-right: 20px;
    padding-top: 5px;

	border-right: 2px solid #e8e8e8;
}

.fkrf-sc-cls .fkr-clrr-tlb{
	width: 100%;
}
.fkrf-sc-cls .fkr-clrr-tlb tr{
}
.fkrf-sc-cls .fkr-clrr-tlb tr td{
	padding: 5px 0;
}
.fkrf-sc-cls .fkr-clrr-tlb .fkrd-i{
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-left: 5px;

	color: #fff;
	text-align: center;
	line-height: 25px;

	background-color: #8d8d8d;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.fkrf-sc-cls .fkr-clrr-tlb .fkd-title{
	color: #8d8d8d;
}
.fkrf-sc-cls .fkr-clrr-tlb .fmkd-value{
	color: #6dbff7;
}
.fkrf-sc-cls .fkr-clrr-tlb input{
	max-width: 240px;
	height: 35px;
}

.mrodl-tls{
	margin-top: 20px;
	padding-top: 20px;

	text-align: left;

	border-top: 1px dashed #e0e0e0;
}
/*----------PROFILE MIDDLE----------*/










/*----------DETAIL BLOCK----------*/
.dke-rdkd-rk3 .fked-col{
}
.dke-rdkd-rk3 .fked-col.fc-rr{
	width: 300px;
	float: right;
}
.dke-rdkd-rk3 .fked-col.fc-ll{
	margin-right: 300px;
}
.dke-rdkd-rk3 .fked-col.fc-rr .dksd-spc{
	margin-left: 10px;
}
.dke-rdkd-rk3 .fked-col.fc-ll .dksd-spc{
	margin-right: 10px;
}
.dke-rdkd-rk3 .fked-col .fjsc-bg{
	background-color: #fff;

    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05);
}
.dke-rdkd-rk3 .fked-col .fjsc-box:not(:last-of-type){
	margin-bottom: 25px;
}
.dke-rdkd-rk3 .fked-col.fc-rr .fjsc-box{
	position: relative;
	padding: 15px;
}
.dke-rdkd-rk3 .fked-col.fc-rr .fjsc-box.fjsc-no-pdd{
	padding: 0 !important;
}
.dke-rdkd-rk3 .grlrt-ul{
	margin-top: 20px;
	margin-bottom: 10px;
}
.dke-rdkd-rk3 .grlrt-ul .gfkrt-img-h{
	width: 80px;
}
.dke-rdkd-rk3 .grlrt-ul .gflr-gfkf{
    margin-right: 80px;
}

.dke-rdkd-rk3 .dks-sct-tls{
    position: absolute;
    left: 15px;

    text-align: left;
}



.dfdg-ddke-spc{
	padding: 25px;
}
.fkd-dvspc-cont{
	margin-top: 20px;

	line-height: 2em;
}
.fkdd-etg-tls{
	margin-top: 25px;
	padding-top: 25px;

	text-align: left;
	border-top: 1px dashed #ebebeb;
}





.dke-rdkd-rk3 .fjsc-box .kdd-row{
	padding: 15px;
}
.dke-rdkd-rk3 .fjsc-box .kdd-row:not(:last-child){
	border-bottom: 1px dashed #e7e7e7;
}
.dke-rdkd-rk3 .kdd-row .dldv-inpt-h{
	position: relative;
}
.dke-rdkd-rk3 .dldv-inpt-h .kfd-btn{
	width: 65px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	color: #fff;

	background-color: #7fc7f7;
	cursor: pointer;

	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}
.dke-rdkd-rk3 .dldv-inpt-h .kfd-btn:hover{
	background-color: #6bb0de;
}
.dke-rdkd-rk3 .kdd-row .dldv-inpt-h .frm-el-inpt{
	padding-left: 80px;
}
/*----------DETAIL BLOCK----------*/










/*----------COMMON CIRCULAR BUTTON----------*/
.common-circ-btn{
	height: 30px;
	padding-right: 35px;
	padding-left: 15px;
	position: relative;
	display: inline-block;

	color: #fff;
	font-size: 11px;
	line-height: 30px;

	background-color: #ff9e5d;

	border-radius: 50px;
	-webkit-border-radius: 50px;
}
.common-circ-btn i{
	width: 22px;
	height: 22px;
	position: absolute;
	right: 4px;
	top: 4px;

	color: #c4c4c4;
	text-align: center;
	font-size: 13px;
	line-height: 22px;

	background-color: #fff;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.common-circ-btn:hover{
	background-color: #ff8738;
}
/*----------COMMON CIRCULAR BUTTON----------*/












/*----------IMAGE ROW----------*/
.rdxol-ugm{
	margin-top: 40px;
}
.rdxol-ugm .xelx-cont{
}
.rdxol-ugm .xelx-cont .xelx-spc{
	position: relative;
}
.rdxol-ugm .xelx-cont .xelx-spc.ovrfw{
	overflow: auto;
}
.rdxol-ugm .orsl-img-bl{
	width: 150px;
	float: right;
	position: relative;
	z-index: 2;

	box-shadow: 0 0 0 5px #f5f5f5;
	-webkit-box-shadow: 0 0 0 5px #f5f5f5;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.rdxol-ugm .orsl-img-bl img{
	width: 100%;
	display: block;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.rdxol-ugm .kdx-bg-bl{
	position: absolute;
	left: 0;
	right: 75px;
	top: 10px;
	bottom: 10px;

	background-image: url("../img/demo/img-block-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.rdxol-ugm .kdx-bg-bl:before{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	content: ' ';

	background-image: url("../img/common/dott-dark.png");
}

.rdxol-ugm .fmce-title{
	position: absolute;
	padding: 4px 8px;
	right: 180px;
	top: 30px;

	color: #3b384c;
	font-size: 17px;

	background-color: #fff;
}
.rdxol-ugm .fmce-desc{
	position: absolute;
	padding: 6px 8px;
	right: 180px;
	top: 69px;

	color: #fefefe;
	font-size: 12px;

	background-color: #ef6b5e;
}
.rdxol-ugm .skcvc-btn{
	position: absolute;
	left: 10px;
	top: 20px;

	color: #737574;
	font-size: 10px;

	background-color: #fff;
}
.rdxol-ugm .skcvc-btn i{
	color: #fff;
	font-size: 11px;

    background-color: #ef6b5e;
}
/*----------IMAGE ROW----------*/














/*----------LIST COLUMN----------*/
.ddc-itm-h{
	overflow: auto;
}
.ddc-itm-h .cmn-box-item{
	width: 33.333333%;
	float: right;
}
.ddc-itm-h .cmn-box-item .cbi-spc{
	margin-right: 15px;
	margin-bottom: 15px;
}
/*----------LIST COLUMN----------*/












/*----------LIST ROW----------*/
.ddc-itm-h.ddc-row .cmn-box-item{
	width: auto;
	float: none;
}
.ddc-itm-h.ddc-row .cmn-box-item .cbi-spc{
	margin-right: 0;
	margin-bottom: 0;
}
.ddc-itm-h .ddc-row-bg{
	margin-bottom: 15px;
	padding: 15px;
	position: relative;

    background-color: #fff;

    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.05);
}
.ddc-itm-h .ddc-row-bg .dkdv-rc{
	width: 270px;
	float: right;
}
.ddc-itm-h .ddc-row-bg .dkdv-lc{
	margin-right: 290px;
}
.ddc-itm-h .ddc-row-bg .dkdv-lc .kdvd-brd{
	border-right: 2px solid #e8e8e8;
}
.ddc-itm-h .ddc-row-bg .fkdlt-top{
	margin-right: -2px;
	padding-right: 15px;

	border-right: 2px solid #6dc0f7;
}
.ddc-row-bg .fkdlt-top .dldf-lnk{
	font-size: 15px;
	color: #3b384c;
}
.ddc-row-bg .fkdlt-top .dldf-lnk:hover{
	color: #4fa5de;
}
.ddc-row-bg .fkdlt-top .fdlfc-its{
	margin-top: 10px;
	display: block;
}
.ddc-row-bg .fkdlt-top .fdlfc-its li{
	margin-left: 10px;
	display: inline-block;

	font-size: 11px;
	color: #aaa;
}
.ddc-row-bg .fkdlt-top .fdlfc-its li i{
	margin-left: 4px;
}

.ddc-row-bg .kddc-desc{
	margin-top: 20px;
    padding-right: 15px;
}

.ddc-row-bg .dkdc-tls{
	margin-top: 20px;

	text-align: left;
}
/*----------LIST ROW----------*/












/*----------COMMON BOX ITEM----------*/
.cmn-box-item{
}
.cmn-box-item .cbi-img-h{
	position: relative;
}
.cmn-box-item .cbi-img-h img{
	width: 100%;
	display: block;
}
.cmn-box-item .cbi-img-h.dotted-patt:before{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	content: ' ';

	background-image: url("../img/common/dott-dark.png");
}








.cmn-box-item .mkrv-label{
	position: absolute;
	padding: 6px 8px;
	right: 0;
	top: 5px;
	z-index: 4;

	color: #fff;
	font-size: 11px;

	background-color: #e0b713;
}
.cmn-box-item .mkrv-label i{
	margin-left: 5px;

	font-size: 10px;
}
.cmn-box-item .mkrv-label .kds-d-txt{
}
.cmn-box-item .mkrv-label:before,
.cmn-box-item .mkrv-label:after{
	position: absolute;
	right: 100%;
	content: ' ';

    border-left: 10px solid transparent;
}
.cmn-box-item .mkrv-label:before{
    top: 0;
    border-top: 15px solid #e0b713;
}
.cmn-box-item .mkrv-label:after{
    bottom: 0;
    border-bottom: 15px solid #e0b713;
}

.cmn-box-item .mkrv-label.dark-orange{
	background-color: #e67e22;
}
.cmn-box-item .mkrv-label.dark-orange:before{
    border-top-color: #e67e22;
}
.cmn-box-item .mkrv-label.dark-orange:after{
    border-bottom-color: #e67e22;
}







.cmn-box-item .fksd-tls{
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 4;
}
.cmn-box-item .fksd-tls .fksd-itm{
	padding: 3px 12px;
	display: inline-block;
	margin-right: 2px;
}
.cmn-box-item .fksd-tls .fksd-price{
	color: #3b384c;

	background-color: #fff;
}
.cmn-box-item .fksd-tls .fksd-discount{
	color: #fefefe;

	background-color: #ef6b5e;
}

.cmn-box-item .lcps-tx-bl{
	padding: 10px 15px;

	background-color: #fff;
}
.cmn-box-item .lcps-tx-bl .lcp-tx{
	height: 44px;
	padding-right: 10px;

	color: #3b384c;

	overflow: hidden;
	border-right: 2px solid #6dc0f7;
}
.cmn-box-item .lcps-tx-bl .lcp-tx:hover{
	color: #4fa5de;
}

.cmn-box-item .kfdd-tls{
	padding: 10px 15px;
	position: relative;

	border-top: 1px solid #f1f1f1;
	background-color: #fff;
}
.cmn-box-item .kfdd-tls .ksdd-ts{
	color: #949494;
	font-size: 12px;
}
.cmn-box-item .kfdd-tls .lddv-st-h{
	float: left;

	color: #f4cc2e;
}
.cmn-box-item .kfdd-tls.dark-bg{
	background-color: #323232;
}



.fantasy-shadow:before{
	height: 13px;
	position: absolute;
	left: 0;
	top: 100%;
	right: 0;
	content: ' ';

	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-image: url("../img/common/box-shadow.png");
}
/*----------COMMON BOX ITEM----------*/










/*----------COMMON READ MORE SHELL----------*/
.cmn-r-more-shell{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 3;

    background-color: rgba(20,27,48,0.8);
}
.cmn-r-more-shell .ddf-sdd{
    position: absolute;
    height: 0;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -16px;

    text-align: center;
}
.cmn-r-more-shell .ddf-sdd .dvl-btn{
    padding: 4px 17px;
    display: inline-block;

    line-height: 24px;
    font-size: 12px;
    color: #fff;

    background-color: rgba(255,255,255,0.1);

    border-radius: 50px;
    -webkit-border-radius: 50px;
}
/*----------COMMON READ MORE SHELL----------*/









/*----------COMMON PAGINATION----------*/
.cmn-pagination{
	display: block;
	margin-top: 20px;
	overflow: auto;
	padding: 5px 0;
}
.cmn-pagination .cmn-p-ln{
	width: 38px;
	height: 38px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;

	color: #676568;
	line-height: 38px;
	text-align: center;

	background-color: #fff;

	border-radius: 3px;
	-webkit-border-radius: 3px;

	box-shadow: 0 2px 0 0 #ddd;
	-webkit-box-shadow: 0 2px 0 0 #ddd;
}
.cmn-pagination.gray .cmn-p-ln{
	background-color: #f8f8f8;
}
.cmn-pagination .cmn-p-ln.active,
.cmn-pagination .cmn-p-ln:hover{
	color: #fff;

	background-color: #ff9e5d;

	box-shadow: 0 2px 0 0 #de8549;
	-webkit-box-shadow: 0 2px 0 0 #de8549;
}
.cmn-pagination .cmn-p-ln.cmn-p-w-auto{
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/*----------COMMON PAGINATION----------*/












/*----------COMMON NOT FOUND----------*/
.not-found-block{
	padding: 50px 10px;

	text-align: center;
	color: #bcbcbc;

	border: 1px dashed #ddd;
}
.not-found-block.nfb-white{
	background-color: #fff;
}
.not-found-block.nfb-mini{
	padding: 25px 10px;

	font-size: 11px;
}
/*----------COMMON NOT FOUND----------*/











/*----------QA INBOX----------*/
.kdcc-tab{
	overflow: auto;
}
.kdcc-tab.tb-border{
	border-bottom: 1px solid #f0f0f0;
}
.kdcc-tab li{
	float: left;
	margin-right: 1px;
	position: relative;
}
.kdcc-tab li a{
	padding: 10px 15px;

	color: #636363;
	font-size: 12px;

	background-color: #f0f0f0;
}
.kdcc-tab li a i{
	margin-left: 5px;
}
.kdcc-tab li.active a,
.kdcc-tab li a:hover{
	color: #292929;

	background-color: #fff;

    box-shadow: inset 0 0 0 1px #d8d8d8;
    -webkit-box-shadow: inset 0 0 0 1px #d8d8d8;
}
.kdcc-tab li.active:before{
	height: 3px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	content: ' ';

	background-color: #4ca7e4;
}
.kdcc-tab li .kdf-gtr{
	display: inline-block;
	padding: 2px 7px;

	color: #fff;
	font-size: 10px;

	background-color: #f2796c;

	border-radius: 50px;
	-webkit-border-radius: 50px;
}
/*----------QA INBOX----------*/










/*----------QA SEND----------*/
.frm-qa-send{
	margin-top: 20px;
}
.frm-qa-send .cmo-row{
	margin-top: 10px;
}
.frm-qa-send .el-title{
	max-width: 310px;
}
.frm-qa-send .cmo-row.dld-tls{
	margin-top: 15px;
	padding-top: 15px;

	text-align: left;

	border-top: 1px dashed #e0e0e0;
}
/*----------QA SEND----------*/















/*----------COURSE DETAIL----------*/
.crs-fans-els{
	position: absolute;
	left: 0;
	right: 0;
	top: -30px;
}
.crs-fans-els .dor-img-h{
	width: 105px;
	height: 105px;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.crs-fans-els .dor-img-h img{
	width: 100%;
	display: block;
	position: relative;
	z-index: 4;

	border-radius: 50%;
	-webkit-border-radius: 50%;

	box-shadow: 0 0 0 5px #fff, 1px 1px 3px 5px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0 0 0 5px #fff, 1px 1px 3px 5px rgba(0, 0, 0, 0.11);
}
.crs-fans-els .fkdvc-tls{
	position: absolute;
	right: 90px;
	top: 20px;

	color: #fff;
}
.crs-fans-els .fkdvc-tls .kvc-lbl{
	padding: 5px 10px;
	padding-right: 30px;
	display: inline-block;

	font-size: 12px;
}
.crs-fans-els .fkdvc-tls .kfvcl-title{
	background-color: #e8594b;
}
.crs-fans-els .fkdvc-tls .kfvcl-title.kdv-green{
	background-color: #2ecc71;
}
.crs-fans-els .fkdvc-tls .kfvcl-desc{
	margin-top: 3px;

	background-color: #2c3e50;
}



.fxlro-summ{
	padding-top: 95px;

	box-shadow: none;
	-webkit-box-shadow: none;
}
.fxlro-summ .common-star-rate{
	color: #f7cc32;
}



.gkddc-prcs{
	margin: 0 15px;
	padding-bottom: 40px;
	position: relative;
}
.gkddc-prcs .prcs-bar{
	height: 6px;

	border-radius: 50px;
	-webkit-border-radius: 50px;
}
.gkddc-prcs .prcs-midd{
	background-color: #ecf0f1;
}
.gkddc-prcs .prcs-curr{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	background-color: #f1c40f;
}

.gkddc-prcs .prcs-curr .dldlc-line{
	width: 1px;
	position: absolute;
	right: 0;
	top: -12px;
	bottom: -12px;

	background-image: url("../img/common/dott-2px.png");
}
.gkddc-prcs .prcs-curr .kddc-label{
	width: 40px;
	position: absolute;
	right: -20px;
	top: 15px;

	text-align: center;
	color: #fff;

	background-color: #f37568;
}
.gkddc-prcs .prcs-curr .kddc-label:before{
	position: absolute;
	bottom: 100%;
	right: 50%;
	margin-right: -3px;
	content: ' ';

	border-bottom: 3px solid #f37568;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
}



.orlr-tls{
	padding: 15px;

	text-align: left;

	background-color: #f8f8f8;
	border-top: 1px solid #ededed;
}
.orlr-tls .common-button{
	position: relative;
}
.orlr-tls .common-button .sdkf-label{
	padding: 0 4px;
	position: absolute;
	left: 100%;
	top: 6px;
	margin-left: 10px;

	color: #fff;
	font-size: 11px;
	line-height: 20px;
	white-space: nowrap;

	background-color: #4eabea;
}
.orlr-tls .common-button .sdkf-label:before{
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -3px;
	content: ' ';

	border-right: 3px solid #4eabea;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

.dke-rdkd-rk3 .fked-col .fjsc-box.fjsc-fans-spc:not(:first-of-type){
	margin-top: 50px;
}

.dke-rdkd-rk3 .roed-summ{
	padding: 15px;
	padding-top: 90px;
	padding-bottom: 25px;

	font-size: 12px;
	line-height: 2em;
}


.dke-rdkd-rk3 .dks-sct-tls.dfld-self-mrg{
	margin-top: -15px;
}





.dual-img-bl{
	height: 110px;
	position: relative;
	margin-bottom: 30px;
}
.dual-img-bl .fsdv-bg{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 40px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.dual-img-bl .fsdv-bg:before{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: ' ';

    background-image: url(../img/common/dott-dark-2.png);
}
.dual-img-bl .fkvd-tls{
	position: absolute;
	left: 10px;
	bottom: 10px;
}

.dual-img-bl .lfed-img-b{
	width: 62px;
	height: 62px;
	position: absolute;
	right: 0;
    top: 2px;
	z-index: 4;
}
.dual-img-bl .lfed-img-b .mrf-img{
	width: 100%;
	display: block;
	position: relative;
	z-index: 3;

	border-radius: 50%;
	-webkit-border-radius: 50%;

    box-shadow: 0 0 0 3px #fff, 1px 1px 3px 3px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 0 0 3px #fff, 1px 1px 3px 3px rgba(0, 0, 0, 0.11);
}
.dual-img-bl .lfed-img-b .dkvf-txt-h{
	width: 84px;
	height: 1px;
	position: absolute;
	right: 50%;
	top: 50%;

	background-color: #fff;
}
.dual-img-bl .lfed-img-b .dkvf-txt-h .dkdc-txt{
	height: 30px;
	position: absolute;
	padding: 0 10px;
	right: 100%;
	top: -15px;

	color: #3b384c;
	line-height: 30px;
	white-space: nowrap;

	background-color: #fff;
}

.dual-img-bl .lfed-img-b.ldd-large{
	width: 72px;
	height: 72px;
	right: -5px;
    bottom: 2px;
	top: auto;
	z-index: 5;
}
.dual-img-bl .lfed-img-b.ldd-large .mrf-img{
    box-shadow: 0 0 0 3px #f47568, 1px 1px 3px 3px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 0 0 3px #f47568, 1px 1px 3px 3px rgba(0, 0, 0, 0.11);
}
.dual-img-bl .lfed-img-b.ldd-large .dkvf-txt-h,
.dual-img-bl .lfed-img-b.ldd-large .dkvf-txt-h .dkdc-txt{
	color: #fff;

	background-color: #f47568;
}




.rorts-cmnts{
	margin-top: 20px;
}
.rorts-cmnts .cmtn-itm{
	margin-bottom: 20px;
}
.rorts-cmnts .cmtn-itm.cmtn-odd,
.rorts-cmnts .cmtn-itm.cmtn-odd .sdr-img-h,
.rorts-cmnts .cmtn-itm.cmtn-odd .fkfd-cdg .fkf-scc .fvkf-vvfkd .orte-txt,
.rorts-cmnts .cmtn-itm.cmtn-odd .fkfd-cdg .fkf-scc .fkf-frd,
.rorts-cmnts .cmtn-itm.cmtn-odd .fkfd-cdg .fkf-scc .hdr-ggd .fkgf-refl{
	display: inline-block;

	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}



.rorrm-tls{
	overflow: auto;
	padding: 20px 0;
	padding-bottom: 2px;

	border-top: 1px dashed #e8e8e8;
}
.rorrm-tls .oee-lft{
	float: left;
}
.rorrm-tls .oee-rgt{
	float: right;
}
.rorrm-tls .common-button.cmb-large{
}
.rorrm-tls .fkf-ssdvv{
	margin-top: 0;
}



.block-spc-b{
	margin-top: 25px;
}


.course-tbl{
	margin-top: 20px;
}
.course-tbl td,
.course-tbl th{
	text-align: right !important;
}


.square-icon{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 3px;

	color: #fff;
	line-height: 20px;
	text-align: center;
	font-style: normal;

	background-color: #ed6b5e;

	border-radius: 3px;
	-webkit-border-radius: 3px;
}


.not-spn{
	padding: 2px 5px;

	color: #8d8d8d;
	font-size: 11px;

	background-color: #e3e3e3;

	border-radius: 2px;
	-webkit-border-radius: 2px;
}


.course-sim-bl{
}
.course-sim-bl .sim-ctrl{
	float: left;
}
.course-sim-bl .sim-ctrl .ctrl{
	width: 30px;
	height: 30px;
	display: inline-block;

	color: #7d7d7d;
	font-size: 15px;

	background-color: #fff;
	cursor: pointer;

	text-align: center;
	line-height: 30px;

	box-shadow: 0 0 0 1px #dedede;
	-webkit-box-shadow: 0 0 0 1px #dedede;

	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.course-sim-bl .sim-ctrl .ctrl:hover{
	background-color: #efefef;
}







.vdls-slid{
	padding-top: 25px;
}
.vdls-slid .ds-item{
	width: 33.33333%;
}
.vdls-slid .ds-item .lfffk-spc{
	margin: 0 10px;
	margin-bottom: 20px;
}








.rfmdo-cmtn{
	margin-top: 20px;
}
.rfmdo-cmtn .cmtn-it{
	padding: 15px;

	background-color: #f9f9f9;
	border-right: 4px solid #e7e7e7;

	box-shadow: 0 0 0 1px #f3f3f3;
	-webkit-box-shadow: 0 0 0 1px #f3f3f3;
}
.rfmdo-cmtn .cmtn-it:not(:last-of-type){
	margin-bottom: 15px;
}
.rfmdo-cmtn .cmtn-it .cmtn-txt{
	color: #3e3e3e;
}
.rfmdo-cmtn .cmtn-it .cmtn-tls{
	overflow: auto;
	margin-top: 10px;
}
.rfmdo-cmtn .cmtn-it .cmtn-tls .cmtn-name{
	float: right;

	color: #909090;
	font-size: 12px;
	font-style: italic;
}
.rfmdo-cmtn .cmtn-it .cmtn-tls .cmtn-rate{
	float: left;
}
.rfmdo-cmtn .cmtn-it .cmtn-rate .cmtn-btn{
	padding: 0 7px;
	display: inline-block;

	color: #797279;

	background-color: #eaeaea;
	cursor: pointer;

	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.rfmdo-cmtn .cmtn-it .cmtn-rate .cmtn-btn:hover{
	background-color: #fff;

	box-shadow: inset 0 0 0 1px #92d0f9;
	-webkit-box-shadow: inset 0 0 0 1px #92d0f9;
}
.rfmdo-cmtn .cmtn-rate .cmtn-btn.cmtn-dislike.active{
	color: #fff;
	background-color: #f17f73;
}
.rfmdo-cmtn .cmtn-rate .cmtn-btn.cmtn-like.active{
	color: #fff;
	background-color: #59e594;
}








.cmtn-frm{
	margin-top: 20px;
}
.cmtn-frm .kfdv-row{
	overflow: auto;
}
.cmtn-frm .kfdv-row:not(:last-child){
	margin-bottom: 10px;
}
.cmtn-frm .kfdv-row .clc{
	width: 50%;
	float: right;
}
.cmtn-frm .kfdv-row .clc .dlc-spc{
}
.cmtn-frm .kfdv-row .clc.first .dlc-spc{
	margin-left: 5px;
}
.cmtn-frm .kfdv-row .clc.second .dlc-spc{
	margin-right: 5px;
}
.cmtn-frm .rw-tls{
	padding: 5px 0;
}
.cmtn-frm .rw-tls .lgg-btn-h{
	float: left;
}
.cmtn-frm .rw-tls .fdkt-conf{
	float: right;
}
.cmtn-frm .rw-tls .fdkt-conf input{
	max-width: 120px;
}
.cmtn-frm .rw-tls .fkr-tms{
}
/*----------COURSE DETAIL----------*/