

.drag-slider{
	width:1000px;
	margin:100px auto;
	
	background-color:#CCC;
}
.ds-item{
	width:20%;
	min-height:150px;
	
	line-height:22px;
	font-weight:bold;
	font-size:24px;
	
	background-color:#999;
}
.tall{
	height:300px;
}
.tall-2{
	height:500px;
}

@media all and (max-width:1200px){

.ds-item{
	width:25%;
}